/* Typography
--------------------------------------------- */
/* Elements
--------------------------------------------- */
ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
.btn {
  font-size: 1.125rem;
  padding: 1.25rem 2rem;
  text-align: center;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: fit-content;
}
.btn.btn-solid {
  background-color: #d44235;
  color: #ffffff;
}
.btn.btn-outline {
  background-color: #ffffff;
  color: #d44235;
  border: solid 1px #d44235;
}

.review-block {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #878787;
  background-color: #f9f9f9;
}
@media only screen and (min-width: 48rem) {
  .review-block {
    padding-top: 3.875rem;
    padding-bottom: 3.875rem;
  }
}
@media only screen and (min-width: 68rem) {
  .review-block {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.review-block .review-block-container {
  max-width: 107.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media only screen and (min-width: 120rem) {
  .review-block .review-block-container {
    padding: 0;
  }
}
.review-block .review-block-container .reviews-title-section h3 {
  font-size: 1.5rem;
}
.review-block .review-block-container .reviews-title-section p {
  font-size: 1.125rem;
}
.review-block .review-block-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.25rem;
}
.review-block .review-block-container ul li {
  height: 415px;
  aspect-ratio: 1 !important;
  background-color: white;
  border: solid 1px #f4f4f4;
  padding: 3rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-block .review-block-container ul li .review-card-rating {
  font-size: 1.5rem;
}
.review-block .review-block-container ul li .review-card-comment {
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
}
.review-block .review-block-container ul li .review-card-author-container {
  display: flex;
  flex-direction: row;
}
.review-block .review-block-container ul li .review-card-author-container img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.875rem;
}
.review-block .review-block-container ul li .review-card-author-container .review-card-author-name {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.review-block .review-block-container ul li .review-card-author-container .review-card-author-company {
  font-size: 0.75rem;
}
@media only screen and (min-width: 68rem) {
  .review-block .review-block-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .review-block .review-block-container .reviews-title-section {
    max-width: 25rem;
  }
  .review-block .review-block-container .reviews-title-section h3 {
    font-size: 2rem;
  }
  .review-block .review-block-container ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
