@import '../../sass/abstracts/_abstracts.scss';

.animate {
  .newsletter-block-title {
    opacity: 0;
  }

  .newsletter-block-message {
    opacity: 0;
    animation-delay: 150ms;
  }
}

.animated {
  .newsletter-block-title {
    @include slide-in;
  }

  .newsletter-block-message {
    @include slide-in;
  }
}

.editor-styles-wrapper {
  .animate {
    .newsletter-block-title {
      opacity: 1;
    }

    .newsletter-block-message {
      opacity: 1;
    }
  }
}

.newsletter-block {
  background-size: 120rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  padding-top: 2.1875rem;
  .newsletter-container {
    background-color: #ffffff;
    background-clip: content-box;

    .newsletter-block-title {
      text-align: center;
      color: $color__mcalpine-black;
      font-size: 2.81rem;
      padding-top: 1.5rem;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      @media only screen and (min-width: $tablet) {
        font-size: 2.81rem;
        font-size: clamp(2.81rem, calc(-2.26rem + 10.563vw), 4.5rem);
      }

      @media only screen and (min-width: $desktop) {
        font-size: 4.5rem;
      }

      * {
        font-size: inherit;
        display: inline;
        font-weight: 400;
        margin: 0;
      }

      a {
        color: $color__mcalpine-red;

        &:hover {
          color: $color__mcalpine-black;
        }
      }
    }

    .newsletter-block-message {
      max-width: 875px;
      padding: 1.5rem 1.25rem;
      text-align: center;
      margin: 0 auto;
      color: $color__mcalpine-black;
    }
  }
  .installer-form {
    input[type='checkbox'] {
      appearance: none;
      background-color: none;
      margin: 0;
      border: 1px solid #c7c7c7;
      border-radius: 0.15em;
      cursor: pointer;
      display: grid;
      place-content: center;
      width: 18px;
      height: 18px;
      overflow: hidden;
      margin-right: 1.5rem;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
    .gform-body {
      flex-grow: 1;
      max-width: 960px;
      .gform_fields {
        flex-direction: column;
        gap: 1.25rem;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
        .gfield--type-email {
          flex-grow: 1;

          input {
            width: 100%;
          }
        }
      }
      .ginput_container--name {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      .ginput_container_consent {
        display: flex;
        align-items: center;

        input[type='checkbox']::before {
          content: '';
          transform: scale(0);
          width: 18px;
          height: 18px;
          transition: 120ms transform ease-in-out;
          background: radial-gradient(
            ellipse at center,
            #ffffff 0%,
            #ffffff 37%,
            #ffffff 37%,
            $color__mcalpine-black 37%,
            $color__mcalpine-black 38%
          );
        }
        input[type='checkbox']:checked {
          border: solid 1px #222222;
        }
        input[type='checkbox']:checked::before {
          transform: scale(1);
        }
      }
    }
    .gform_footer {
      display: none;
      align-items: center;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      padding-bottom: 5rem;

      input {
        width: 100%;
      }
    }
  }
  .white-cover {
    background-color: #ffffff;
    min-width: 2.1875rem;
    margin: 0 auto;
    background-clip: content-box;
    padding-top: 12.5rem;
  }
}

@media only screen and (min-width: $desktop) {
  .newsletter-block {
    padding-top: 0;
    padding: 0 !important;
    display: block;
    .white-cover {
      background-color: #ffffff;
      max-width: 914px;
      margin: 0 auto;
      height: 4.875rem;
      padding-top: 0;
    }
    .newsletter-container {
      max-width: calc(100% - 144px);
      margin: 0 auto;
      .newsletter-content {
        padding-top: 120px !important;
        padding-bottom: 120px !important;
      }
    }

    .installer-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 10%;
      .gform-body {
        flex-grow: 1;
        max-width: 960px;
        .gform_fields {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          gap: 1.5rem;
          padding-right: 1.5rem;
          .ginput_container--name {
            flex-direction: row;
            gap: 1.5rem;
          }
          .gfield--type-email {
            flex-grow: 1;
            max-width: 662px;

            input {
              width: 100%;
            }
          }
          .gfield--type-html {
            div {
              display: flex;
              justify-content: end;
            }
          }
          .ginput_container_consent {
            height: 100%;

            label {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .gform_footer {
        display: none;
        align-items: center;
      }
    }
  }
}
