@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.product-hero {
  background: transparent linear-gradient(53deg, #ffffff 0%, rgba(124, 174, 242, 0.1607843137) 100%) 0% 0% no-repeat padding-box;
}
.product-hero.red {
  background: none;
  background-color: #e63128;
}
.product-hero.red .product-hero-container .product-hero-image .hero-breadcrumbs a {
  color: #fff;
}
.product-hero.red .product-hero-container .product-hero-image .hero-breadcrumbs a:hover {
  color: #222222;
}
.product-hero.red .product-hero-container .product-hero-image .hero-breadcrumbs svg path {
  fill: #222222;
}
.product-hero.red .product-hero-container .product-hero-image .hero-breadcrumbs .breadcrumbs-current {
  color: #fff;
}
.product-hero .product-hero-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  padding-top: 1.5rem !important;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 48rem) {
  .product-hero .product-hero-container {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .product-hero .product-hero-container {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .product-hero .product-hero-container {
    padding-top: 5rem;
  }
}
.product-hero .product-hero-container img {
  max-height: 760px;
}
.product-hero .product-hero-container .product-hero-image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-hero .product-hero-container .product-hero-image .product-hero-schematic-image {
  width: 80%;
  position: absolute;
  height: 80%;
  bottom: 0;
  object-fit: contain;
  object-position: center 6rem;
}
.product-hero .product-hero-container .product-hero-image .active-sku {
  align-self: start;
  padding-top: 2.5rem;
}
.product-hero .product-hero-container .product-hero-image .active-sku span {
  color: #e63128;
  padding-left: 1.5rem;
}
.product-hero .product-hero-container .product-hero-image .product-hero-control-images {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  z-index: 2;
  align-self: start;
  top: 50%;
  gap: 0.75rem;
  max-height: 12rem;
  overflow-y: scroll;
}
.product-hero .product-hero-container .product-hero-image .product-hero-control-images .product-image-thumbnail {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  background-color: #f7f9fc;
  cursor: pointer;
  border: solid 1px #f4f4f4;
}
.product-hero .product-hero-container .product-hero-image .product-image {
  display: none;
  object-fit: contain;
  width: 100%;
  max-width: 572px;
  margin-bottom: 1.5rem;
  z-index: 2;
  filter: drop-shadow(30px 40px 60px rgba(0, 0, 0, 0.1607843137));
}
.product-hero .product-hero-container .product-hero-image .product-image.active {
  display: block;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs {
  z-index: 1;
  align-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  font-size: 0.75rem;
  padding-right: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  width: max-content;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a {
  text-decoration: none;
  color: #878787;
  margin-right: 0.5rem;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a:hover {
  color: #e63128;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a.breadcrumb-middle-link {
  margin-left: 0.5rem;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs span {
  display: flex;
  align-items: center;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs svg {
  width: 0.375rem;
  margin: 0 0.125rem;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs svg path {
  fill: #5a5a5a;
}
.product-hero .product-hero-container .product-hero-image .hero-breadcrumbs .breadcrumbs-current {
  color: #e63128;
  margin-left: 0.5rem;
}
.product-hero .product-hero-container .product-hero-details {
  margin: 0 auto;
  color: #5a5a5a;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.325rem;
  max-width: 572px;
  width: 100%;
}
.product-hero .product-hero-container .product-hero-details .product-details-container {
  padding: 1.5rem;
  background-color: #fff;
}
.product-hero .product-hero-container .product-hero-details .product-details-container .product-title {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d8d8d8;
}
.product-hero .product-hero-container .product-hero-details .product-details-container ul {
  list-style-type: square;
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJklEQVQYV2P8DwQMRABGkMLnRpp4lUqeu84wqhBnEMGDh4jwZgAAmKw/43YFJ/cAAAAASUVORK5CYII=);
  margin: 0;
  padding: 1rem;
}
.product-hero .product-hero-container .product-hero-details .product-details-container .btn {
  width: 100%;
  margin-top: 1rem;
}
.product-hero .product-hero-container .product-skus-container {
  background-color: #fff;
  padding: 0;
}
.product-hero .product-hero-container .product-skus-container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.product-hero .product-hero-container .product-skus-container ul li {
  padding: 1.125rem 1.75rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  cursor: pointer;
}
.product-hero .product-hero-container .product-skus-container ul li.active, .product-hero .product-hero-container .product-skus-container ul li:hover {
  background: rgba(124, 174, 242, 0.0509803922) 0% 0% no-repeat padding-box;
}
.product-hero .product-hero-container .product-skus-container ul li.active .sku-image-container, .product-hero .product-hero-container .product-skus-container ul li:hover .sku-image-container {
  border: 1px solid #7caef2;
}
.product-hero .product-hero-container .product-skus-container ul li.active .sku-text, .product-hero .product-hero-container .product-skus-container ul li:hover .sku-text {
  color: #e63128;
}
.product-hero .product-hero-container .product-skus-container ul li .sku-text {
  color: #222222;
}
.product-hero .product-hero-container .product-skus-container ul li img {
  max-height: 3.5rem;
  max-width: 3.5rem;
  object-fit: contain;
}
.product-hero .product-hero-container .product-instructions-container {
  display: flex;
  flex-direction: column;
}
.product-hero .product-hero-container .product-instructions-container .technical-drawing,
.product-hero .product-hero-container .product-instructions-container .installation-instructions {
  width: 100%;
  background-color: #fff;
}
.product-hero .product-hero-container .product-instructions-container .technical-drawing a,
.product-hero .product-hero-container .product-instructions-container .installation-instructions a {
  width: 100%;
  color: #222222;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.product-hero .product-hero-container .product-instructions-container .technical-drawing a svg,
.product-hero .product-hero-container .product-instructions-container .installation-instructions a svg {
  width: 2rem;
}
.product-hero .product-hero-container .product-instructions-container .technical-drawing a:hover,
.product-hero .product-hero-container .product-instructions-container .installation-instructions a:hover {
  color: #e63128;
}
.product-hero .product-hero-container .product-instructions-container .technical-drawing a:hover svg *,
.product-hero .product-hero-container .product-instructions-container .installation-instructions a:hover svg * {
  fill: #e63128;
}

@media only screen and (min-width: 64rem) {
  .product-hero .product-hero-container {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 111px);
    overflow: hidden;
  }
  .product-hero .product-hero-container .product-hero-details .product-details-container {
    padding: 1.5rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
    max-height: 60%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 572px;
    height: 60%;
  }
  .product-hero .product-hero-container .product-hero-details .product-details-container .product-title {
    color: #222222;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px #d8d8d8;
    margin: 0;
  }
  .product-hero .product-hero-container .product-hero-details .product-details-container ul {
    overflow-y: scroll;
  }
  .product-hero .product-hero-container .product-hero-details .product-details-container .btn {
    justify-self: flex-end;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container {
    max-height: 25%;
    display: flex;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container ul {
    overflow-y: scroll;
    width: 100%;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container ul li {
    display: flex;
    gap: 1.375rem;
    object-fit: contain;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container ul li .sku-image-container {
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f9fc;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container ul li .sku-image-container img {
    height: 100%;
  }
  .product-hero .product-hero-container .product-hero-details .product-skus-container ul li .sku-text {
    font-size: 14px;
  }
  .product-hero .product-hero-container .product-hero-image {
    min-height: 100%;
    justify-content: unset;
    flex-grow: 1;
    position: relative;
  }
  .product-hero .product-hero-container .product-hero-image .product-hero-control-images {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    align-self: start;
    top: 50%;
    gap: 0.75rem;
    max-height: 12rem;
    overflow-y: scroll;
  }
  .product-hero .product-hero-container .product-hero-image .product-hero-control-images .product-image-thumbnail {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    background-color: #f7f9fc;
  }
  .product-hero .product-hero-container .product-hero-image .hero-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  .product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a {
    text-decoration: none;
    color: #878787;
    margin-right: 0.5rem;
  }
  .product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a:hover {
    color: #e63128;
  }
  .product-hero .product-hero-container .product-hero-image .hero-breadcrumbs a.breadcrumb-middle-link {
    margin-left: 0.5rem;
  }
  .product-hero .product-hero-container .product-hero-image .hero-breadcrumbs .breadcrumbs-current {
    color: #e63128;
    margin-left: 0.5rem;
  }
  .product-hero .product-hero-container .product-hero-image .product-image {
    display: none;
    max-height: 47.5rem;
    max-width: 54.375rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }
  .product-hero .product-hero-container .product-hero-image .product-hero-schematic-image {
    object-position: center bottom;
  }
}

/*# sourceMappingURL=style.css.map */
