@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.review-block.red {
  color: #ffffff;
  background-color: #e63128;
}
.review-block.white {
  background-color: #fff;
  color: #222222;
}
.review-block.white .review-block-container ul .reviews-card {
  background-color: #fff;
  color: #878787;
}
.review-block.white .review-block-container ul .reviews-card .review-card-rating {
  color: #e63128;
}
.review-block.white .review-block-container ul .reviews-card .review-card-author-name {
  color: #222222;
}
.review-block .review-block-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
}
@media only screen and (min-width: 48rem) {
  .review-block .review-block-container {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .review-block .review-block-container {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .review-block .review-block-container {
    padding-top: 5rem;
  }
}
.review-block .review-block-container .reviews-title-section {
  max-width: 388px;
}
.review-block .review-block-container ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.25rem;
  overflow-x: scroll;
  overflow: hidden;
}
.review-block .review-block-container ul .reviews-card {
  aspect-ratio: 1;
  background-color: #f0453c;
  padding: 1.5rem 1.75rem;
  padding-top: 2.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 424px;
  height: 424px;
}
.review-block .review-block-container ul .reviews-card .review-card-rating {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.review-block .review-block-container ul .reviews-card .review-card-comment {
  margin: 0;
  display: flex;
  align-items: center;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 1;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.875rem;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container .review-card-author-name {
  font-size: 1.125rem;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container .review-card-author-company {
  font-size: 0.75rem;
  line-height: 1;
}
@media only screen and (min-width: 64rem) {
  .review-block .review-block-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .review-block .review-block-container .reviews-title-section {
    max-width: 24rem;
  }
  .review-block .review-block-container .reviews-title-section h3 {
    font-size: 2rem;
  }
  .review-block .review-block-container ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    scrollbar-color: white #e63128;
  }
}

/*# sourceMappingURL=style.css.map */
