/* Typography
--------------------------------------------- */
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-3_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-3_LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-5_Plain.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-5_PlainItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-7_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-7_BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-9_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TheSans";
  src: url("assets/fonts/TheSans-5_BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}

.page-title,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.3;
  letter-spacing: 0;
  font-weight: 700;
}

.page-title {
  font-size: 4.5rem;
}

h1,
.h1 {
  font-size: 1.802rem;
}
@media only screen and (min-width: 48rem) {
  h1,
  .h1 {
    font-size: 1rem;
    font-size: clamp(1.802rem, 0.625rem + 0.78125vw, 3.433125rem);
  }
}
@media only screen and (min-width: 64rem) {
  h1,
  .h1 {
    font-size: 3.433125rem;
  }
}

h2,
.h2 {
  font-size: 1.6rem;
}
@media only screen and (min-width: 48rem) {
  h2,
  .h2 {
    font-size: 1rem;
    font-size: clamp(1.6rem, 0.625rem + 0.78125vw, 2.75rem);
  }
}
@media only screen and (min-width: 64rem) {
  h2,
  .h2 {
    font-size: 2.75rem;
  }
}

h3,
.h3 {
  font-size: 1.425rem;
}
@media only screen and (min-width: 48rem) {
  h3,
  .h3 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 0.78125vw, 1.125rem);
  }
}
@media only screen and (min-width: 64rem) {
  h3,
  .h3 {
    font-size: 2.1975rem;
  }
}

h4,
.h4 {
  font-size: 1.266rem;
}
@media only screen and (min-width: 48rem) {
  h4,
  .h4 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 0.78125vw, 1.125rem);
  }
}
@media only screen and (min-width: 64rem) {
  h4,
  .h4 {
    font-size: 1.758rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;
}
@media only screen and (min-width: 48rem) {
  h5,
  .h5 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 0.78125vw, 1.125rem);
  }
}
@media only screen and (min-width: 64rem) {
  h5,
  .h5 {
    font-size: 1.40625rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}
@media only screen and (min-width: 48rem) {
  h6,
  .h6 {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 0.78125vw, 1.125rem);
  }
}
@media only screen and (min-width: 64rem) {
  h6,
  .h6 {
    font-size: 1.125rem;
  }
}

.text-small {
  font-size: 0.899rem;
}
@media only screen and (min-width: 48rem) {
  .text-small {
    font-size: 1rem;
    font-size: clamp(0.899rem, 0.625rem + 0.78125vw, 0.9rem);
  }
}
@media only screen and (min-width: 64rem) {
  .text-small {
    font-size: 0.9rem;
  }
}

.text-smaller {
  font-size: 0.79rem;
}
@media only screen and (min-width: 48rem) {
  .text-smaller {
    font-size: 1rem;
    font-size: clamp(1rem, 0.625rem + 0.78125vw, 1.125rem);
  }
}
@media only screen and (min-width: 64rem) {
  .text-smaller {
    font-size: 0.72rem;
  }
}

/* Elements
--------------------------------------------- */
body {
  font-family: "TheSans", sans-serif;
  color: #878787;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
}

#primary {
  overflow-x: hidden;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
.btn {
  font-size: 1.125rem;
  padding: 1.25rem 2rem;
  text-align: center;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: fit-content;
  transition: all 100ms ease-in-out;
}
.btn.btn-black {
  background-color: #222222;
  border: solid 1px #222222;
  color: #ffffff;
}
.btn.btn-black:hover {
  background-color: #4e4e4e;
  border: solid 1px #4e4e4e;
}
.btn.btn-black.btn-outline {
  background-color: #ffffff;
  border: solid 1px #222222;
  color: #222222;
}
.btn.btn-black.btn-outline:hover {
  background-color: #222222;
  color: #ffffff;
}
.btn.btn-red {
  background-color: #e63128;
  color: #ffffff;
}
.btn.btn-red:hover {
  background-color: #eb5a53;
}
.btn.btn-red.btn-outline {
  background-color: #ffffff;
  color: #222222;
  border: solid 1px #e63128;
}
.btn.btn-red.btn-outline:hover {
  background-color: #e63128;
  color: #ffffff;
}

.review-block {
  color: #ffffff;
  background-color: #e63128;
}
.review-block .review-block-container {
  width: 100%;
  max-width: 115rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  padding-bottom: 0;
}
@media only screen and (min-width: 48rem) {
  .review-block .review-block-container {
    padding: 5.5rem 2.5rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 64rem) {
  .review-block .review-block-container {
    padding: 8.75rem 3.75rem;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 120rem) {
  .review-block .review-block-container {
    padding-top: 11.25rem;
    padding-bottom: 0;
  }
}
.review-block .review-block-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.review-block .review-block-container ul .reviews-card {
  max-height: 415px;
  aspect-ratio: 1;
  background-color: #f0453c;
  padding: 1.5rem 1.75rem;
  padding-top: 2.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.review-block .review-block-container ul .reviews-card .review-card-rating {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.review-block .review-block-container ul .reviews-card .review-card-comment {
  margin: 0;
  display: flex;
  align-items: center;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-grow: 1;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
  margin-right: 0.875rem;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container .review-card-author-name {
  font-size: 1.125rem;
}
.review-block .review-block-container ul .reviews-card .review-card-author-container .review-card-author-company {
  font-size: 0.75rem;
  line-height: 1;
}
@media only screen and (min-width: 64rem) {
  .review-block .review-block-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .review-block .review-block-container .reviews-title-section {
    max-width: 25rem;
  }
  .review-block .review-block-container .reviews-title-section h3 {
    font-size: 2rem;
  }
  .review-block .review-block-container ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
