@import '../../sass/abstracts/_abstracts.scss';

.block-editor {
  .specifications-block {
    display: block;

    &.accordion {
      display: none;
    }
  }
}

.specifications-block {
  --border-color: #707070;
  --header-color: #5a5a5a;
  --header-background-color: #fff;
  --text-color: #222222;
  --background-color: #fff;

  &.red {
    --border-color: #fff;
    --header-color: #fff;
    --header-background-color: #{$color__mcalpine-red};
    --text-color: #fff;
    --background-color: #{$color__mcalpine-red};
  }

  @include container-large;

  background-color: var(--background-color);
  color: var(--text-color);

  display: none;

  &.accordion {
    display: block;
    padding: 0;
    border: 0;
    color: var(--text-color);

    .accordion-question-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      border-bottom: solid 1px #f4f4f4;

      h2 {
        padding: 0;
      }
      .accordion-toggle-icon {
        margin-top: 0;
      }
    }

    .accordion-answer {
      width: 100%;
      padding: 0;
      display: grid;
      overflow: hidden;
      height: 0px;

      transition: 250ms all ease-in-out;
      table {
        width: 100%;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
    }

    &.open {
      .accordion-answer {
        height: 460px;
        overflow: scroll;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      &.red {
        color: var(--text-color);
      }
    }

    &.red {
      h2 {
        color: var(--header-color);
      }

      .accordion-toggle-icon {
        div {
          background-color: #fff !important;
        }
      }
    }
  }

  .table-container {
    height: 320px;
    overflow: scroll;
    position: relative;
  }
  h2 {
    padding-bottom: 3.5rem;
    padding-top: 2.5rem;
  }

  table {
    border-collapse: collapse;
    font-size: 1.125rem;
    thead {
      tr {
        border: 0;
      }
    }

    tr {
      border-bottom: solid 1px var(--border-color);

      th {
        text-align: left;
        font-weight: 900;
        padding: 0 1.25rem 1.25rem 1.25rem;
        color: var(--header-color);
        text-transform: uppercase;
        position: sticky;
        top: 0;
        background-color: var(--header-background-color);
      }

      td {
        padding: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .specifications-block {
    display: block;
    h2 {
      padding-top: 0;
    }

    &.accordion {
      display: none;
    }
  }
}
