@import '../../sass/abstracts/_abstracts.scss';

.editor-styles-wrapper {
  .product-highlights {
    display: block;

    &.accordion {
      display: none;
    }
  }
  .animate {
    h2 {
      opacity: 1;
    }
    .highlights-icon-grid {
      li {
        img,
        svg,
        h5 {
          opacity: 1;
        }
      }
    }
  }
}

.product-highlights {
  display: none;

  &.accordion {
    display: block;
    padding: 0;
    border: 0;
    color: #222222;

    .accordion-question-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #f4f4f4;

      .product-highlights-title {
        padding-bottom: 0;
        opacity: 1;
      }
    }

    .accordion-answer {
      display: grid;
      grid-template-rows: 0fr;
      padding: 0;
      transition: grid-template-rows 0.25s ease-in-out;

      #product-highlights {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 0.25s ease-in-out;

        li {
          img,
          svg,
          h5 {
            opacity: 1;
          }
        }
      }
    }

    &.open {
      .accordion-answer {
        grid-template-rows: 1fr;

        #product-highlights {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
      }
    }
  }
  @include container-large;

  &.animated {
    h2 {
      @include slide-in;
    }

    li {
      svg,
      img,
      h5 {
        @include slide-in;
      }
      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          svg,
          img {
            animation-delay: $i * 150ms;
          }

          h5 {
            animation-delay: $i * 150ms + 250ms;
          }
        }
      }
    }
  }

  overflow: scroll;
  background-color: #fff;
  color: $color__mcalpine-black;

  &.red {
    background-color: $color__mcalpine-red;
    color: #fff;
  }

  h2 {
    padding-bottom: 1rem;
    opacity: 0;
  }

  .highlights-icon-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-items: center;
    overflow-x: scroll;

    @media only screen and (min-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (min-width: $desktop) {
      grid-template-columns: repeat(6, 1fr);
    }

    li {
      container-type: inline-size;
      container-name: block-grid-container;
      aspect-ratio: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 274px;

      .highlight-image {
        display: flex;
        flex-direction: column-reverse;
      }

      svg,
      img {
        aspect-ratio: 1;
        object-fit: contain;
        width: 100%;
        max-width: 96px;
        opacity: 0;
      }

      h5 {
        display: table-caption;
        opacity: 0;
        font-weight: 900;
        font-size: clamp(0.75rem, 0.491rem + 5.444cqw, 1.424rem);
        padding-top: 1rem;
        text-transform: uppercase;

        @media only screen and (min-width: $tablet) {
          display: unset;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .product-highlights {
    h2 {
      padding-bottom: 2.25rem;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .product-highlights {
    display: block;

    &.accordion {
      display: none;
    }
  }
}

@media only screen and (min-width: $desktop__large) {
  .product-highlights {
    h2 {
      padding-bottom: 3.5rem;
    }
    .highlights-icon-grid {
      gap: 1fr;

      li {
        padding-top: 54px;
        padding-bottom: 42px;
      }
    }
  }
}
