@import '../../sass/abstracts/_abstracts.scss';

.editor-styles-wrapper {
  .animate {
    h2 {
      opacity: 1;
    }
    .highlights-icon-grid {
      li {
        img,
        svg,
        h5 {
          opacity: 1;
        }
      }
    }
  }
}

.product-highlights {
  @include container-large;

  &.animated {
    h2 {
      @include slide-in;
    }

    li {
      svg,
      img,
      h5 {
        @include slide-in;
      }
      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          svg,
          img {
            animation-delay: $i * 150ms;
          }

          h5 {
            animation-delay: $i * 150ms + 250ms;
          }
        }
      }
    }
  }

  overflow: scroll;
  background-color: #fff;
  color: $color__mcalpine-black;

  &.red {
    background-color: $color__mcalpine-red;
    color: #fff;
  }

  h2 {
    padding-bottom: 1rem;
    opacity: 0;
  }

  .highlights-icon-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, minmax(76px, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-items: center;
    overflow-x: scroll;

    li {
      container-type: inline-size;
      container-name: block-grid-container;
      aspect-ratio: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 274px;

      svg,
      img {
        width: 100%;
        max-width: 96px;
        opacity: 0;
      }

      h5 {
        opacity: 0;
        font-weight: 700;
        font-size: clamp(0.75rem, 0.491rem + 5.444cqw, 1.424rem);
        padding-top: 1.5rem;
        text-transform: uppercase;
        max-width: 96px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .product-highlights {
    h2 {
      padding-bottom: 2.25rem;
    }
  }
}

@media only screen and (min-width: $desktop__large) {
  .product-highlights {
    h2 {
      padding-bottom: 3.5rem;
    }
    .highlights-icon-grid {
      gap: 1fr;

      li {
        padding-top: 54px;
        padding-bottom: 42px;
      }
    }
  }
}
