@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate .image-text-block {
  opacity: 0;
}
.animate .image-text-block .product-card .sku-count {
  opacity: 0;
}

.animated .product-card-container {
  opacity: 1;
  opacity: 0;
  animation-name: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
  transform-origin: bottom left;
}
.animated .product-card-container .product-card .product-title {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 50ms;
}
.animated .product-card-container .product-card .product-block-image img {
  opacity: 0;
  animation-name: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
  animation-delay: 100ms;
}
.animated .product-card-container .product-card .sku-count {
  opacity: 0;
  animation-name: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
  transform-origin: center right;
  animation-delay: 300ms;
}

.image-text-full-width-block {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  padding-top: 0 !important;
}
@media only screen and (min-width: 48rem) {
  .image-text-full-width-block {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .image-text-full-width-block {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .image-text-full-width-block {
    padding-top: 5rem;
  }
}
.image-text-full-width-block .image-text-container {
  position: relative;
  overflow: hidden;
}
.image-text-full-width-block .image-text-container.i-top {
  flex-direction: column-reverse;
}
.image-text-full-width-block .image-text-container.i-bottom {
  flex-direction: column;
}
.image-text-full-width-block .image-text-container .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -35%;
  margin-right: -35%;
  margin-top: 5%;
  text-align: center;
}
.image-text-full-width-block .image-text-container .image-container.tall {
  aspect-ratio: 16/9;
}
.image-text-full-width-block .image-text-container .image-container.tall .image-text-background-image {
  aspect-ratio: 16/9;
  height: 100%;
  width: auto;
  max-width: none;
  object-fit: cover;
}
.image-text-full-width-block .image-text-container .image-container.short {
  aspect-ratio: 16/5;
  height: 100%;
}
.image-text-full-width-block .image-text-container .image-container.short .image-text-background-image {
  height: 100%;
  width: 100%;
  max-width: none;
  object-fit: cover;
}
.image-text-full-width-block .image-text-container .image-container .image-text-background-image {
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}
.image-text-full-width-block .image-text-container .image-container .overflow-image {
  position: absolute;
}
.image-text-full-width-block .image-text-container .text-container {
  padding: 2rem;
  padding: clamp(2rem, 0.944rem + 3.38vw, 5rem);
  background-color: #e63128;
  color: #ffffff;
}
.image-text-full-width-block .image-text-container .text-container p {
  margin-bottom: 2rem;
  max-width: 405px;
}
.image-text-full-width-block .image-text-container .text-container h2 {
  max-width: 350px;
  padding-top: 2.5rem;
}
.image-text-full-width-block .image-text-container .text-container .color-block {
  background-color: #ffffff;
  height: 0.75rem;
  width: 56px;
}
.image-text-full-width-block .image-text-container .text-block-hash {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .image-text-full-width-block .image-text-container {
    position: relative;
    overflow: visible;
  }
  .image-text-full-width-block .image-text-container .text-block-hash {
    display: block;
  }
  .image-text-full-width-block .image-text-container .image-container {
    width: 100%;
    z-index: 1;
    margin: 0;
  }
  .image-text-full-width-block .image-text-container .image-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .image-text-full-width-block .image-text-container .text-container {
    position: absolute;
    background-color: #e63128;
    width: fit-content;
    bottom: 0;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-text-full-width-block .image-text-container .text-container.align-left {
    left: 0;
  }
  .image-text-full-width-block .image-text-container .text-container.align-right {
    right: 0;
  }
  .image-text-full-width-block .image-text-container .text-container .color-block {
    background-color: #fff;
    width: 93px;
    height: 1.5rem;
  }
  .image-text-full-width-block .image-text-container .text-block-hash {
    overflow: hidden;
  }
  .image-text-full-width-block .image-text-container .text-block-hash.align-left {
    grid-area: 3/1/span 1/span 3;
  }
  .image-text-full-width-block .image-text-container .text-block-hash.align-right {
    grid-area: 3/10/span 1/span 3;
  }
  .image-text-full-width-block .image-text-container .text-block-hash img {
    width: 1400px;
    max-width: none;
  }
}

/*# sourceMappingURL=style.css.map */
