@import '../../sass/abstracts/_abstracts.scss';

.timeline-slides-block {
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
  .timeline-slides {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .timeline-slide {
      display: inline-block;
      scroll-snap-align: start;
      min-width: 80%;
      max-width: 80%;
      position: relative;
      .slide-year {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: $color__mcalpine-red;
        font-size: 4.5rem;
        font-size: clamp(
          4.5rem,
          -1.666666666666666rem + 12.847222222222221vw,
          13.75rem
        );
        width: 2ch;
        word-wrap: break-word;
        line-height: 1;
        font-weight: bold;
        letter-spacing: 0px;
      }

      &.active {
        .slide-year {
          @include fade-in;
          animation-delay: 500ms;
        }
        .color-block {
          @include fade-in;
        }
        .slide-message {
          @include slide-in;
          animation-delay: 800ms;
        }

        h3 {
          @include slide-in;
          animation-delay: 650ms;
        }
      }

      &.bg-gradient {
        background: transparent
          linear-gradient(194deg, #7caef21f 0%, #7caef200 100%) 0% 0% no-repeat
          padding-box;
      }

      &.bg-white {
        background-color: #ffffff;
      }
      &.bg-grey {
        background-color: #f4f4f4;
      }

      .slide-text-container {
        white-space: unset;
        .color-block {
          opacity: 0;
          background-color: $color__mcalpine-red;
          height: 0.75rem;
          width: 56px;
        }
        .slide-message {
          max-width: 405px;
          opacity: 0;
        }
        h3 {
          opacity: 0;
          max-width: 350px;
          padding-bottom: 1.5rem;
          padding-top: 2.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .timeline-slides-block {
    .timeline-slides {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: scroll;
      display: flex;
      flex-direction: row;
      scroll-snap-type: x mandatory;
      scroll-snap-align: center;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      .timeline-slide {
        display: inline-block;
        scroll-snap-align: start;
        min-width: 80%;
        max-width: 80%;
        background: transparent;
        padding: 2rem 138px;
        padding-bottom: 15rem;
        transition: background 0.5s ease-in-out;
        &:last-of-type {
          margin-right: 20%;
        }

        .slide-content {
          display: flex;
          align-items: center;
          gap: 2rem;
          position: relative;
          padding-top: 179px;
          padding-left: 0;
          padding-bottom: 25rem;
          img {
            max-width: 60%;
            max-height: 509px;
            object-fit: contain;
          }
        }
        .slide-text-container {
          white-space: unset;
          .color-block {
            width: 93px;
            height: 1.5rem;
          }
          .slide-message {
            max-width: 405px;
          }
          h3 {
            color: $color__mcalpine-red;
            max-width: 350px;
            padding-bottom: 1.5rem;
            padding-top: 2.5rem;
          }
        }

        &.active {
          .slide-content {
            animation-name: slide-padding;
            animation-fill-mode: forwards;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop__full) {
  .timeline-slides-block {
    .timeline-slides {
      .timeline-slide {
        .slide-content {
          .slide-year {
            font-size: 13.75rem;
          }
        }
      }
    }
  }
}

@keyframes slide-padding {
  0% {
    padding-left: 0;
  }

  100% {
    padding-left: 8rem;
  }
}
