@import '../../sass/abstracts/_abstracts.scss';

.timeline-slides-block {
  .timeline-slides {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: scroll;
    .timeline-slide {
      min-width: 80%;
      &.active,
      &.active + .timeline-slide {
        display: block;
      }

      &.active {
        background: transparent
          linear-gradient(194deg, #7caef21f 0%, #7caef200 100%) 0% 0% no-repeat
          padding-box;
      }
    }
  }
}
