@import '../../sass/abstracts/_abstracts.scss';

.image-text-block {
  .image-text-container {
    @include container-large;
    display: flex;

    &.i-top {
      flex-direction: column-reverse;
    }

    &.i-bottom {
      flex-direction: column;
    }

    .text-container {
      padding: 2rem;
      p {
        margin-bottom: 2rem;
        max-width: 405px;
      }
      .color-block {
        height: 0.75rem;
        width: 56px;
        margin-bottom: 1rem;
      }
      &.color-red {
        background-color: $color__mcalpine-red;
        color: #ffffff;

        .color-block {
          background-color: #ffffff;
        }
      }

      &.color-white {
        background-color: #ffffff;
        h2 {
          color: $color__mcalpine-black;
        }

        p {
          color: #5a5a5a;
        }

        .color-block {
          background-color: $color__mcalpine-red;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .image-text-block {
    .image-text-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      &.color-red {
        grid-template-rows: 1fr 8fr 1fr;

        .image-container {
          height: 100%;
          width: auto;
          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center center;
          }
        }

        .text-container {
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-bottom: 7.5%;

          p {
            width: 405px;
          }
        }

        &.i-left {
          .image-container {
            grid-area: 1 / 1 / span 2 / span 8;
          }
          .text-container {
            grid-area: 2 / 5 / span 2 / span 8;
            padding-left: 55%;
            p {
              max-width: 85%;
            }
          }
        }

        &.i-right {
          .image-container {
            grid-area: 1 / 5 / span 2 / span 8;
          }
          .text-container {
            grid-area: 2 / 1 / span 2 / span 8;
          }
        }
      }

      &.color-white {
        grid-template-rows: 9fr 1fr;
        align-items: center;
        gap: 0px;
        &.i-right {
          .image-container {
            grid-area: 1 / 5 / span 1 / span 8;
            width: auto;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              aspect-ratio: 16 / 9;
              object-fit: cover;
              object-position: center center;
            }
          }

          .text-container {
            grid-area: 1 / 1 / span 1 / span 4;
            width: auto;
          }
        }

        &.i-left {
          .image-container {
            grid-area: 1 / 1 / span 1 / span 8;
            width: auto;
            height: 100%;
          }

          .text-container {
            grid-area: 1 / 9 / span 1 / span 4;
            width: auto;
          }
        }
      }

      .text-container {
        min-width: 30%;
        width: 30%;
        .color-block {
          width: 93px;
          height: 1.5rem;
        }
      }

      .image-container {
        width: 66%;
      }
    }
  }
}
