@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate.grid-text-block {
  opacity: 0;
}
.animate.animated.grid-text-block {
  opacity: 1;
}
.animate.animated.grid-text-block .text-container p {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 150ms;
}
.animate.animated.grid-text-block .text-container h2 {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  max-width: 350px;
}

.editor-styles-wrapper .animate.grid-text-block {
  opacity: 1;
}

.grid-text-block .image-text-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 48rem) {
  .grid-text-block .image-text-container {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .grid-text-block .image-text-container {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .grid-text-block .image-text-container {
    padding-top: 5rem;
  }
}
.grid-text-block .image-text-container .grid-container .acf-innerblocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 424px));
  gap: 1.5rem;
  justify-content: center;
}
.grid-text-block .image-text-container .text-container {
  padding: 2rem;
}
.grid-text-block .image-text-container .text-container p {
  margin-bottom: 2rem;
  max-width: 405px;
  color: #5a5a5a;
}
.grid-text-block .image-text-container .text-container h2 {
  color: #222222;
}
.grid-text-block .image-text-container .text-container .color-block {
  height: 0.75rem;
  width: 56px;
  margin-bottom: 1rem;
  background-color: #e63128;
}
.grid-text-block .image-text-container .background-image-schematic {
  display: none;
}

@media only screen and (min-width: 64rem) {
  .grid-text-block .image-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    position: relative;
  }
  .grid-text-block .image-text-container .text-block-hash {
    display: block;
  }
  .grid-text-block .image-text-container .text-container h2 {
    max-width: 420px;
  }
  .grid-text-block .image-text-container .grid-container {
    width: auto;
    height: 100%;
    flex-grow: 1;
  }
  .grid-text-block .image-text-container .grid-container .acf-innerblocks-container {
    gap: 1.5rem;
    grid-auto-flow: row;
    direction: rtl;
    justify-content: start;
  }
  .grid-text-block .image-text-container .grid-container .acf-innerblocks-container * {
    direction: ltr;
  }
  .grid-text-block .image-text-container .text-container {
    width: auto;
  }
  .grid-text-block .image-text-container .text-container {
    min-width: 30%;
  }
  .grid-text-block .image-text-container .text-container .color-block {
    width: 93px;
    height: 1.5rem;
  }
  .grid-text-block .image-text-container .background-image-schematic {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
  }
  .grid-text-block .image-text-container .background-image-schematic img {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
