.archive-controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;

  .archive-controls-button-container {
    display: flex;
    gap: 10px;

    .column-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .product-archive-total-results {
    background-color: #f4f4f4;
    border: solid 1px #d5d5d5;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 2.75rem;
    padding-right: 1.25rem;
    color: #707070;

    button {
      outline: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input {
    aspect-ratio: 1;
    width: 2.375rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
  .layout-picker {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
  }
  .layout-picker-options {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .layout-button {
    display: grid;
    width: 2.375rem;
    aspect-ratio: 1;
    outline: 0;
    border: solid 1px #878787;
    gap: 0.25rem;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;

    .square {
      background-color: #222222;
      width: 100%;
      height: 100%;
    }

    &.columns-1 {
      grid-template-columns: 1fr;
      gap: 0.25rem;
      padding: 0.625rem 0.96825rem;
    }

    &.columns-2 {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 0.25rem;
      padding: 0.625rem;
    }

    &.columns-3 {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 0.1625rem;
      padding: 0.625rem;
    }
    &.columns-4 {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
      gap: 0.125rem;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .archive-controls {
    gap: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    input {
      width: 2.5rem;
    }

    .layout-button {
      width: 2.5rem;

      padding: 0.5rem;
    }
  }
}
