#faq {
  min-height: 100vh;
}

.faq-archive {
  padding-top: 0 !important;
  .categories-container {
    border-bottom: solid 1px $color__border-grey;
    border-top: solid 1px $color__border-grey;
    display: flex;
    .faq-filter-search {
      border: 0;
      border-right: solid 1px $color__border-grey;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"/><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/></g></g></svg>');
      background-repeat: no-repeat;
      background-size: 1.375rem;
      background-position: 1rem center;
      padding-left: 3rem;
      border-bottom: $color__border-grey;
      width: 10%;
      animation-name: compress;
      animation-fill-mode: forwards;
      animation-duration: 500ms;
      animation-timeline: ease-in-out;
      &:active,
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }

      &:active,
      &:focus-visible {
        animation-name: expand;
        animation-duration: 500ms;
        animation-timeline: ease-in-out;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
    }

    .category-links {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      padding-left: 1rem;
      h5 {
        display: none;
        color: $color__mcalpine-black;
        padding-bottom: 1.5rem;
      }
      a {
        color: #5a5a5a;
        display: block;
        &:hover {
          color: $color__mcalpine-red;
        }
      }
    }
  }
  .faq-category-title {
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    color: $color__mcalpine-red;
  }

  .questions-container {
    padding: 0 1.25rem;
  }
}

.accordion {
  overflow: hidden;
  position: relative;
  color: #5a5a5a;
  max-width: 1253px;
  border-bottom: solid 1px #f4f4f4;

  &.open {
    .open-gradient {
      opacity: 0.18;
    }

    .accordion-question-container {
      .accordion-question,
      .accordion-toggle-icon {
        color: $color__mcalpine-red;
      }

      .accordion-toggle-icon {
        transform: rotate(45deg);
        transform-origin: center;
        transition-duration: 0.2s;
        div {
          background-color: $color__mcalpine-red;
        }
      }
    }
  }
  &:hover {
    .open-gradient {
      opacity: 0.18;
    }

    .accordion-question-container {
      .accordion-question,
      .accordion-toggle-icon {
        color: $color__mcalpine-red;
      }
    }
  }
  .open-gradient {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(208deg, #7caef2 0%, #7caef221 100%)
      0% 0% no-repeat padding-box;
  }

  .accordion-question-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    padding: 1rem;
    .accordion-question {
      font-weight: 400;
    }
    .accordion-toggle-icon {
      transition: transform 0.2s ease-in-out;
      font-size: 18px;
      line-height: 1;
      height: min-content;
      display: grid;
      margin-left: 2rem;
      grid-template-rows: 100%;
      grid-template-columns: 100%;
      min-height: 12px;
      min-width: 12px;
      width: 12px;
      height: 12px;
      align-items: center;
      justify-items: center;
      margin-top: 0.25rem;

      div {
        background-color: $color__mcalpine-black;
        grid-area: 1 / 1 / span 1 / span 1;

        &.vertical-line {
          width: 2px;
          height: 100%;
        }
        &.horizontal-line {
          height: 2px;
          width: 100%;
        }
      }
    }
  }

  .accordion-answer {
    padding: 1rem;
  }
}

@media only screen and (min-width: $tablet) {
  .faq-archive {
    .faq-category-title {
      padding-bottom: 3.75rem;
      padding-top: 3.75rem;
    }
  }

  .questions-container {
    padding: 0 1.25rem;
  }
  .accordion {
    .accordion-question-container {
      padding: 1.5rem;
      .accordion-toggle-icon {
        min-height: 18px;
        min-width: 18px;
        height: 18px;
        width: 18px;
      }
    }

    .accordion-answer {
      padding: 1.5rem;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .faq-archive {
    display: flex;
    max-width: 107.5rem;
    margin: 0 auto;
    padding: 0 3.75rem;
    box-sizing: border-box;
    .faq-category-title {
      padding-bottom: 4.5rem;
      padding-top: 4.5rem;
    }

    .categories-container {
      flex-direction: column;
      border-top: 0;
      padding-right: 0;
      padding-top: 0;
      width: auto;
      max-width: 422px;
      margin-left: auto;
      border-left: solid 1px $color__border-grey;

      .faq-filter-search {
        padding-left: 3rem;
        border-top: 0;
        animation: unset;
        width: auto;

        border-right: 0;
        &:active,
        &:hover,
        &:focus-visible {
          border: 0;
          box-shadow: none;
          animation: unset;
        }
      }

      .category-links {
        border-top: solid 1px $color__border-grey;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        padding-left: 2rem;
        h5 {
          display: block;
          padding-top: 54px;
          padding-bottom: 0;
        }
      }
    }
    .questions-container {
      padding-top: 0;
      padding-bottom: 0;
      border-left: solid 1px $color__border-grey;
      padding-left: 88px;
      flex-grow: 1;
    }
  }
  .accordion {
    border-bottom: none;
    .accordion-question-container {
      padding: 2rem;
      .accordion-toggle-icon {
        min-height: 24px;
        min-width: 24px;
        height: 24px;
        width: 24px;
      }
    }

    .accordion-answer {
      padding: 2rem;
    }
  }
}

@keyframes expand {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}

@keyframes compress {
  from {
    width: 100%;
  }
  to {
    width: 10%;
  }
}
