.pagination-container {
  grid-area: pagination;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;

  .prev-next-button {
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #222222;

    &:disabled {
      color: #878787;
    }
  }
  .page-number-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    .pagination-seperator-dots {
      align-self: end;
      font-size: 22px;
      color: $color__mcalpine-black;

      line-height: 1;
    }
    .pagination-button {
      width: 2.25rem;
      height: 2.25rem;
      cursor: pointer;
      border: solid 1px #d8d8d8;
      color: #222222;
      font-size: 0.75rem;
      letter-spacing: 0;
      background-color: white;

      &.pagination-button__current {
        font-weight: 900;
        background-color: $color__mcalpine-red;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .pagination-container {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;

    .page-number-buttons {
      gap: 1.25rem;
      .pagination-button {
        width: 3.75rem;
        height: 3.75rem;

        font-size: 1.125rem;
      }
    }
  }
}
