.product-archive {
  display: grid;

  grid-template-columns: 55% 45%;

  grid-template-areas:
    'filters-heading controls'
    'filters filters'
    'product-grid product-grid'
    'pagination pagination';
  @include container-large;
  padding-top: 0 !important;

  &.hide-filters {
    grid-template-columns: 1fr;
    grid-template-areas:
      'controls'
      'product-grid'
      'pagination';
  }
  .filters-heading {
    grid-area: filters-heading;
    margin-right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: $color__mcalpine-black;
    background-color: transparent;

    border-bottom: solid 1px #f4f4f4;
    .filters-heading-open {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;

      &:hover,
      &:active {
        color: $color__mcalpine-red;
      }
    }

    .clear-filters {
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.125rem;
      font-weight: 400;
      &:hover,
      &:active {
        color: $color__mcalpine-red;
      }
    }
    .filters-icon {
      height: 100%;
      aspect-ratio: 1;
      margin-right: 1.25rem;
      width: 1.125rem;
      height: 1rem;
      display: flex;
      flex-direction: column;
      .filter-line {
        width: 100%;
        height: 5px;
        display: flex;
        align-items: center;
        position: relative;
        .filter-line-black {
          width: 100%;
          height: 2px;
          background-color: $color__mcalpine-black;
        }

        .filter-line-red {
          width: 2px;
          height: 5px;
          background-color: #f85b53;
          position: absolute;
        }

        &.line-one,
        &.line-three {
          .filter-line-red {
            left: 4px;
          }
        }

        &.line-two {
          .filter-line-red {
            right: 4px;
          }
        }
      }
    }
  }
  .product-archive-filters {
    grid-area: filters;
    margin-right: 1.25rem;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .product-archive-category-list {
        max-height: 465px;
        overflow-y: scroll;
        scrollbar-color: #e63128 #ffffff;
        scrollbar-width: auto;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
        background-color: #c4cad114;
        color: $color__mcalpine-black;
        padding: 0.875rem 1.5rem;
        font-size: 1.125rem;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover,
        &:active {
          background-color: #c4cad133;
        }
        input {
          border: 1px solid #c7c7c7;
          border-radius: 3px;
          outline: 0;
        }
      }
    }

    .product-archive-filters-section {
      .filter-category-title {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        background-color: transparent;
        color: $color__mcalpine-black;
        border: 0;
        outline: 0;
        justify-content: space-between;
        padding-bottom: 1rem;
        cursor: pointer;
        padding: 1.25rem;

        span {
          display: inline-flex;
          align-items: center;
        }
        svg {
          width: 2rem;

          path,
          rect {
            fill: $color__mcalpine-red;
          }
        }
      }
    }
  }
  .product-archive-grid-container {
    grid-area: product-grid;

    container-type: inline-size;

    container-name: product-grid-container;
    .product-archive-grid {
      display: grid;
      grid-auto-flow: row dense;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 1.25rem;
      height: fit-content;

      &.columns {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@supports (container-type: inline-size) {
  @container product-grid-container (min-width: 500px) {
    .product-archive {
      .product-archive-grid-container {
        .product-archive-grid {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  @container product-grid-container (min-width: 600px) {
    .product-archive {
      .product-archive-grid-container {
        .product-archive-grid {
          grid-template-columns: 1fr 1fr;
          &.rows {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
  @container product-grid-container (min-width: 900px) {
    .product-archive {
      .product-archive-grid-container {
        .product-archive-grid {
          &.columns {
            grid-template-columns: 1fr 1fr 1fr;
          }

          &.rows {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }

  @container product-grid-container (min-width: 1150px) {
    .product-archive {
      .product-archive-grid-container {
        .product-archive-grid {
          &.columns {
            grid-template-columns: repeat(4, 1fr);
          }

          &.rows {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .product-archive {
    grid-template-columns: 25% 75%;
    grid-template-areas:
      'filters-heading controls'
      'filters product-grid'
      'pagination pagination';

    &.filters-closed {
      grid-template-areas:
        'filters-heading controls'
        'product-grid product-grid'
        'pagination pagination';

      .product-archive-grid-container {
        width: 75%;
        align-self: end;
        justify-self: end;
        animation-name: stretch;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

@keyframes stretch {
  from {
    width: 75%;
    margin-left: auto;
  }
  to {
    width: 100%;
    margin-left: 0;
  }
}

.active-filters {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  li {
    cursor: pointer;
    border-radius: 0.25rem;
    border: solid 1px #f4f4f4;
    padding: 0.25rem 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      svg {
        height: 1rem;
        width: 1rem;
        path {
          fill: $color__mcalpine-red;
        }
      }
    }
  }
}
