@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.acf-innerblocks-container .category-card-container:nth-of-type(2) {
  animation-delay: 200ms;
}

.category-card-container:nth-of-type(2) {
  animation-delay: 75ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(3) {
  animation-delay: 400ms;
}

.category-card-container:nth-of-type(3) {
  animation-delay: 150ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(4) {
  animation-delay: 600ms;
}

.category-card-container:nth-of-type(4) {
  animation-delay: 225ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(5) {
  animation-delay: 800ms;
}

.category-card-container:nth-of-type(5) {
  animation-delay: 300ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(6) {
  animation-delay: 1000ms;
}

.category-card-container:nth-of-type(6) {
  animation-delay: 375ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(7) {
  animation-delay: 1200ms;
}

.category-card-container:nth-of-type(7) {
  animation-delay: 450ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(8) {
  animation-delay: 1400ms;
}

.category-card-container:nth-of-type(8) {
  animation-delay: 525ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(9) {
  animation-delay: 1600ms;
}

.category-card-container:nth-of-type(9) {
  animation-delay: 600ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(10) {
  animation-delay: 1800ms;
}

.category-card-container:nth-of-type(10) {
  animation-delay: 675ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(11) {
  animation-delay: 2000ms;
}

.category-card-container:nth-of-type(11) {
  animation-delay: 750ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(12) {
  animation-delay: 2200ms;
}

.category-card-container:nth-of-type(12) {
  animation-delay: 825ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(13) {
  animation-delay: 2400ms;
}

.category-card-container:nth-of-type(13) {
  animation-delay: 900ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(14) {
  animation-delay: 2600ms;
}

.category-card-container:nth-of-type(14) {
  animation-delay: 975ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(15) {
  animation-delay: 2800ms;
}

.category-card-container:nth-of-type(15) {
  animation-delay: 1050ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(16) {
  animation-delay: 3000ms;
}

.category-card-container:nth-of-type(16) {
  animation-delay: 1125ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(17) {
  animation-delay: 3200ms;
}

.category-card-container:nth-of-type(17) {
  animation-delay: 1200ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(18) {
  animation-delay: 3400ms;
}

.category-card-container:nth-of-type(18) {
  animation-delay: 1275ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(19) {
  animation-delay: 3600ms;
}

.category-card-container:nth-of-type(19) {
  animation-delay: 1350ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(20) {
  animation-delay: 3800ms;
}

.category-card-container:nth-of-type(20) {
  animation-delay: 1425ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(21) {
  animation-delay: 4000ms;
}

.category-card-container:nth-of-type(21) {
  animation-delay: 1500ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(22) {
  animation-delay: 4200ms;
}

.category-card-container:nth-of-type(22) {
  animation-delay: 1575ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(23) {
  animation-delay: 4400ms;
}

.category-card-container:nth-of-type(23) {
  animation-delay: 1650ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(24) {
  animation-delay: 4600ms;
}

.category-card-container:nth-of-type(24) {
  animation-delay: 1725ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(25) {
  animation-delay: 4800ms;
}

.category-card-container:nth-of-type(25) {
  animation-delay: 1800ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(26) {
  animation-delay: 5000ms;
}

.category-card-container:nth-of-type(26) {
  animation-delay: 1875ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(27) {
  animation-delay: 5200ms;
}

.category-card-container:nth-of-type(27) {
  animation-delay: 1950ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(28) {
  animation-delay: 5400ms;
}

.category-card-container:nth-of-type(28) {
  animation-delay: 2025ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(29) {
  animation-delay: 5600ms;
}

.category-card-container:nth-of-type(29) {
  animation-delay: 2100ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(30) {
  animation-delay: 5800ms;
}

.category-card-container:nth-of-type(30) {
  animation-delay: 2175ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(31) {
  animation-delay: 6000ms;
}

.category-card-container:nth-of-type(31) {
  animation-delay: 2250ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(32) {
  animation-delay: 6200ms;
}

.category-card-container:nth-of-type(32) {
  animation-delay: 2325ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(33) {
  animation-delay: 6400ms;
}

.category-card-container:nth-of-type(33) {
  animation-delay: 2400ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(34) {
  animation-delay: 6600ms;
}

.category-card-container:nth-of-type(34) {
  animation-delay: 2475ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(35) {
  animation-delay: 6800ms;
}

.category-card-container:nth-of-type(35) {
  animation-delay: 2550ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(36) {
  animation-delay: 7000ms;
}

.category-card-container:nth-of-type(36) {
  animation-delay: 2625ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(37) {
  animation-delay: 7200ms;
}

.category-card-container:nth-of-type(37) {
  animation-delay: 2700ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(38) {
  animation-delay: 7400ms;
}

.category-card-container:nth-of-type(38) {
  animation-delay: 2775ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(39) {
  animation-delay: 7600ms;
}

.category-card-container:nth-of-type(39) {
  animation-delay: 2850ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(40) {
  animation-delay: 7800ms;
}

.category-card-container:nth-of-type(40) {
  animation-delay: 2925ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(41) {
  animation-delay: 8000ms;
}

.category-card-container:nth-of-type(41) {
  animation-delay: 3000ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(42) {
  animation-delay: 8200ms;
}

.category-card-container:nth-of-type(42) {
  animation-delay: 3075ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(43) {
  animation-delay: 8400ms;
}

.category-card-container:nth-of-type(43) {
  animation-delay: 3150ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(44) {
  animation-delay: 8600ms;
}

.category-card-container:nth-of-type(44) {
  animation-delay: 3225ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(45) {
  animation-delay: 8800ms;
}

.category-card-container:nth-of-type(45) {
  animation-delay: 3300ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(46) {
  animation-delay: 9000ms;
}

.category-card-container:nth-of-type(46) {
  animation-delay: 3375ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(47) {
  animation-delay: 9200ms;
}

.category-card-container:nth-of-type(47) {
  animation-delay: 3450ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(48) {
  animation-delay: 9400ms;
}

.category-card-container:nth-of-type(48) {
  animation-delay: 3525ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(49) {
  animation-delay: 9600ms;
}

.category-card-container:nth-of-type(49) {
  animation-delay: 3600ms;
}

.acf-innerblocks-container .category-card-container:nth-of-type(50) {
  animation-delay: 9800ms;
}

.category-card-container:nth-of-type(50) {
  animation-delay: 3675ms;
}

.animate .category-card-container {
  opacity: 0;
  transform-origin: bottom left;
}

.animated .category-card-container,
.insight-archive-grid .category-card-container {
  opacity: 1;
  opacity: 0;
  animation-name: grow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
  transform-origin: bottom left;
}

.editor-styles-wrapper .animate .category-card-container {
  opacity: 1;
}

.category-card-container {
  aspect-ratio: 1;
  container-type: inline-size;
  container-name: category-card;
}
.category-card-container .category-card {
  background-color: #f9f9f9;
  color: #222222;
  aspect-ratio: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.category-card-container .category-card .category-card-image {
  padding-top: 10%;
  transition: all 0.2s ease-in-out;
  max-height: 85%;
  object-fit: contain;
}
.category-card-container .category-card .category-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
}
.category-card-container .category-card .category-link-container h5 {
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}
.category-card-container .category-card .category-link-container .product-category-link {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #222222;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}
.category-card-container .category-card:hover {
  background-color: #e63128;
  color: #ffffff;
}
.category-card-container .category-card:hover .category-card-image {
  opacity: 0.5;
}
.category-card-container .category-card:hover .category-link-container .product-category-link {
  transform: translateX(0);
}
.category-card-container .category-card-link-small {
  display: none;
  text-decoration: none;
  color: #222222;
}
.category-card-container:hover .category-card-link-small {
  color: #e63128;
}

@supports (contain: inline-size) {
  @container category-card (max-width: 250px) {
    .category-card-container .category-card .category-card-image {
      transition: all 0.2s ease-in-out;
      max-height: 306px;
      object-fit: contain;
    }
    .category-card-container .category-card .category-link-container {
      display: none;
    }
    .category-card-container .category-card-link-small {
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding-top: 1.5rem;
    }
  }
}

/*# sourceMappingURL=style.css.map */
