@import '../../sass/abstracts/_abstracts.scss';
.category-card-container {
  aspect-ratio: 1;
  container-type: inline-size;
  container-name: category-card;

  .category-card {
    background-color: #f9f9f9;
    color: $color__mcalpine-black;
    aspect-ratio: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
    .category-card-image {
      transition: all 0.2s ease-in-out;
      max-height: 306px;
      object-fit: contain;
    }

    .category-link-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      overflow: hidden;

      h5 {
        padding-left: 1.5rem;
      }
      .product-category-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        background-color: $color__mcalpine-black;

        transform: translateX(100%);
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      background-color: $color__mcalpine-red;
      color: #ffffff;

      .category-card-image {
        opacity: 0.5;
      }
      .category-link-container {
        .product-category-link {
          transform: translateX(0);
        }
      }
    }
  }
  .category-card-link-small {
    display: none;
    text-decoration: none;
    color: $color__mcalpine-black;
  }
  &:hover {
    .category-card-link-small {
      color: $color__mcalpine-red;
    }
  }
}

@supports (contain: inline-size) {
  @container category-card (max-width: 250px) {
    .category-card-container {
      .category-card {
        .category-card-image {
          transition: all 0.2s ease-in-out;
          max-height: 306px;
          object-fit: contain;
        }

        .category-link-container {
          display: none;
        }
      }

      .category-card-link-small {
        display: block;
        font-size: 1rem;
        font-weight: 700;
        padding-top: 1.5rem;
      }
    }
  }
  @container category-card (min-width: 350px) {
  }
  @container category-card (min-width: 420px) {
  }
}
