@import '../../sass/abstracts/_abstracts.scss';

@for $i from 2 through 50 {
  .acf-innerblocks-container {
    .category-card-container:nth-of-type(#{$i}) {
      animation-delay: ($i - 1) * 250ms;
    }
  }
  // .category-card-container:nth-of-type(#{$i}) {
  //   animation-delay: ($i - 1) * 75ms;
  // }
}

.animate {
  .category-card-container {
    opacity: 0;
    transform-origin: bottom left;
  }
}

.animated,
.insight-archive-grid {
  .category-card-container {
    opacity: 1;
    @include grow;
    transform-origin: bottom left;
  }
}

.editor-styles-wrapper {
  .animate {
    .category-card-container {
      opacity: 1;
    }
  }
}

.category-card-container {
  aspect-ratio: 1;
  container-type: inline-size;
  container-name: category-card;
  width: 100%;

  .category-card {
    background-color: #f9f9f9;
    color: $color__mcalpine-black;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
    .category-card-image {
      padding: 10%;
      transition: all 0.2s ease-in-out;
      object-fit: contain;
      width: 100%;
      height: 100%;
      filter: drop-shadow(4px 8px 8px #00000026);
      aspect-ratio: 1;
    }

    .category-link-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      overflow: hidden;

      h5 {
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        margin: 0;
      }
      .product-category-link {
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        background-color: $color__mcalpine-black;

        transform: translateX(100%);
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      background-color: $color__mcalpine-red;
      color: #ffffff;

      .category-card-image {
        opacity: 0.5;
      }
      .category-link-container {
        .product-category-link {
          transform: translateX(0);
        }
      }
    }
  }
  .category-card-link-small {
    display: none;
    text-decoration: none;
    color: $color__mcalpine-black;
  }
  &:hover {
    .category-card-link-small {
      color: $color__mcalpine-red;
    }
  }
}

@supports (contain: inline-size) {
  @container category-card (max-width: 250px) {
    .category-card-container {
      .category-card {
        .category-card-image {
          transition: all 0.2s ease-in-out;
          max-height: 306px;
          object-fit: contain;
        }

        .category-link-container {
          display: none;
        }
      }

      .category-card-link-small {
        display: block;
        font-size: 1rem;
        font-weight: 700;
        padding-top: 1.5rem;
      }
    }
  }
}
