@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-hero-container {
  display: flex;
  flex-direction: column;
  background: transparent linear-gradient(218deg, rgba(124, 174, 242, 0.1490196078) 0%, rgba(124, 174, 242, 0) 100%);
  background-repeat: no-repeat;
  position: relative;
}
.contact-hero-container .small-hero-block-contact {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 74px;
}
.contact-hero-container .small-hero-block-contact .small-hero-content {
  z-index: 2;
  height: 60%;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #ffffff;
  width: max-content;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a {
  text-decoration: none;
  color: #878787;
  margin-right: 0.5rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a:hover {
  color: #e63128;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a.breadcrumb-middle-link {
  margin-left: 0.5rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs span {
  display: flex;
  align-items: center;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs svg {
  width: 0.375rem;
  margin: 0 0.5rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs svg path {
  fill: #5a5a5a;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs .breadcrumbs-current {
  color: #e63128;
  margin-left: 0.5rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-content h1 {
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 1.25rem;
  max-width: 85%;
}
.contact-hero-container .small-hero-block-contact .small-hero-content .small-hero-text {
  margin: 0;
  color: #878787;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 63px;
  line-height: 21px;
  width: 349px;
  max-width: 95%;
  padding-left: 1.25rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-image-container {
  display: none;
  display: flex;
  margin-bottom: -5.5rem;
  align-items: center;
  overflow: hidden;
  height: 8rem;
}
.contact-hero-container .small-hero-block-contact .small-hero-image-container img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-hero-container .contact {
  z-index: 1;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}
@media only screen and (min-width: 48rem) {
  .contact-hero-container .contact {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .contact-hero-container .contact {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .contact-hero-container .contact {
    padding-top: 5rem;
  }
}
.contact-hero-container .contact .warranty-block-hash {
  display: none;
}
.contact-hero-container .contact .contact-text {
  padding-bottom: 3rem;
  max-width: 270px;
}
.contact-hero-container .contact .contact-text h2 {
  max-width: 200px;
}
.contact-hero-container .contact .contact-text div {
  padding-bottom: 1.25rem;
}
.contact-hero-container .contact .contact-text p {
  margin-bottom: 0.5rem;
}
.contact-hero-container .contact form {
  height: 100%;
}
.contact-hero-container .contact .gform-body .gform_fields,
.contact-hero-container .contact .gform_body .gform_fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield,
.contact-hero-container .contact .gform_body .gform_fields .gfield {
  width: 100%;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield .ginput_container,
.contact-hero-container .contact .gform_body .gform_fields .gfield .ginput_container {
  width: 100%;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield .ginput_container input,
.contact-hero-container .contact .gform-body .gform_fields .gfield .ginput_container textarea,
.contact-hero-container .contact .gform_body .gform_fields .gfield .ginput_container input,
.contact-hero-container .contact .gform_body .gform_fields .gfield .ginput_container textarea {
  width: 100%;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield .ginput_container input[type=checkbox],
.contact-hero-container .contact .gform_body .gform_fields .gfield .ginput_container input[type=checkbox] {
  width: auto;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield.gfield--type-name,
.contact-hero-container .contact .gform_body .gform_fields .gfield.gfield--type-name {
  display: flex;
  flex-direction: column;
}
.contact-hero-container .contact .gform-body .gform_fields .gfield.gfield--type-name .ginput_container,
.contact-hero-container .contact .gform_body .gform_fields .gfield.gfield--type-name .ginput_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-hero-container .contact .contact-link .footer-social-link {
  display: block;
}
.contact-hero-container .contact .contact-link .footer-social-link svg {
  height: 1.5rem;
}
.contact-hero-container .contact .contact-link .footer-social-link svg path,
.contact-hero-container .contact .contact-link .footer-social-link svg rect,
.contact-hero-container .contact .contact-link .footer-social-link svg circle {
  fill: #e63128;
}
.contact-hero-container .contact .contact-link .footer-social-link:hover svg path,
.contact-hero-container .contact .contact-link .footer-social-link:hover svg rect,
.contact-hero-container .contact .contact-link .footer-social-link:hover svg circle {
  fill: #222222;
}

@media only screen and (min-width: 64rem) {
  .contact-hero-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .contact-hero-container .small-hero-block-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 0;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content {
    background-color: #fff;
    width: 50%;
    margin-left: auto;
    padding-left: 3.75rem;
    padding-top: 54px;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a {
    text-decoration: none;
    color: #878787;
    margin-right: 0.5rem;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a:hover {
    color: #e63128;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs a.breadcrumb-middle-link {
    margin-left: 0.5rem;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .hero-breadcrumbs .breadcrumbs-current {
    color: #e63128;
    margin-left: 0.5rem;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content h1 {
    color: #222222;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-content .small-hero-text {
    margin: 0;
    color: #878787;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: none;
    overflow: hidden;
    text-overflow: none;
    line-height: 21px;
    max-height: none;
    width: auto;
    padding-bottom: 70px;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-image-container {
    max-width: 50%;
    width: 50%;
    margin-bottom: 0;
    height: unset;
  }
  .contact-hero-container .small-hero-block-contact .small-hero-image-container img {
    margin: 0 auto;
  }
  .contact-hero-container .contact {
    margin-top: -80px;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 0 !important;
    gap: 2rem;
    padding-right: 0 !important;
    padding-top: 0 !important;
  }
  .contact-hero-container .contact .contact-text {
    padding-top: 8rem;
  }
  .contact-hero-container .contact .contact-text h2,
  .contact-hero-container .contact .contact-text p {
    max-width: 380px;
  }
  .contact-hero-container .contact .form-container {
    position: relative;
    grid-area: 1/2/span 2/span 1;
  }
  .contact-hero-container .contact .form-container .warranty-block-hash {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .contact-hero-container .contact .form-container .warranty-block-hash img {
    max-width: none;
    width: 1920px;
  }
  .contact-hero-container .contact .gform_wrapper {
    margin: 80px;
  }
  .contact-hero-container .contact form input {
    width: 100%;
  }
  .contact-hero-container .contact form input[type=checkbox] {
    width: auto;
  }
  .contact-hero-container .contact form input[type=tel] {
    width: 80%;
  }
  .contact-hero-container .contact form input[type=submit] {
    width: fit-content;
    margin-top: 1.5rem;
  }
  .contact-hero-container .contact form .gform-body .gform_fields,
  .contact-hero-container .contact form .gform_body .gform_fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  .contact-hero-container .contact form .gform-body .gform_fields .gfield--width-full,
  .contact-hero-container .contact form .gform_body .gform_fields .gfield--width-full {
    grid-column: span 2;
  }
  .contact-hero-container .contact form .gform-body .gform_fields .ginput_container_name,
  .contact-hero-container .contact form .gform_body .gform_fields .ginput_container_name {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  .contact-hero-container .contact form .gform-body .gform_fields .gfield--type-textarea,
  .contact-hero-container .contact form .gform_body .gform_fields .gfield--type-textarea {
    grid-column: span 2;
  }
  .contact-hero-container .contact form .gform-body .gform_fields .gfield--type-textarea textarea,
  .contact-hero-container .contact form .gform_body .gform_fields .gfield--type-textarea textarea {
    width: 100%;
  }
  .contact-hero-container .contact .form-checkbox-submit {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .contact-hero-container .contact .form-checkbox-submit .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .contact-hero-container .contact .form-checkbox-submit input[type=checkbox] {
    appearance: none;
    background-color: none;
    margin: 0;
    border: 1px solid #c7c7c7;
    border-radius: 0.15em;
    cursor: pointer;
    display: grid;
    place-content: center;
  }
  .contact-hero-container .contact .form-checkbox-submit input[type=checkbox]::before {
    content: "";
    transform: scale(0);
    width: 18px;
    height: 18px;
    transition: 120ms transform ease-in-out;
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 37%, #ffffff 37%, #222222 37%, #222222 38%);
  }
  .contact-hero-container .contact .form-checkbox-submit input[type=checkbox]:checked {
    border: solid 1px #222222;
  }
  .contact-hero-container .contact .form-checkbox-submit input[type=checkbox]:checked::before {
    transform: scale(1);
  }
  .contact-hero-container .contact .form-checkbox-submit .btn {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact-hero-container .contact .contact-link {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;
  }
  .contact-hero-container .contact .contact-link .social-links {
    display: flex;
    gap: 1rem;
  }
  .contact-hero-container .contact .contact-link a {
    display: block;
  }
}
.ginput_container_select {
  position: relative;
  display: flex;
  align-items: center;
}
.ginput_container_select:before {
  content: "Hello! I am a";
  width: 120px;
  color: #fff;
  padding-right: 1rem;
  font-weight: 700;
}

.ginput_container_select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
/* Point the arrow upwards when the select box is open (active): */
/* style the items (options), including the selected item: */
.selected-container {
  border-bottom: 2px solid #222222;
  padding-right: 3rem;
  cursor: pointer;
  width: 224px;
  min-width: max-content;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='chevron-down'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath fill='%23e63128' d='M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 99%;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}
.selected-container.select-arrow-active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='chevron-up'%3E%3Crect width='24' height='24' transform='rotate(180 12 12)' opacity='0'/%3E%3Cpath fill='%23e63128' d='M16 14.5a1 1 0 0 1-.71-.29L12 10.9l-3.3 3.18a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.42l4-3.86a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.42 1 1 0 0 1-.69.28z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}
.selected-container.select-arrow-active + .select-items {
  box-shadow: 0px 3px 6px rgba(124, 174, 242, 0.3019607843);
}

.select-selected {
  color: #222222;
  padding: 8px 1rem;
  cursor: pointer;
  font-weight: 700;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  color: #fff;
  top: 100%;
  left: 120px;
  right: 0;
  z-index: 99;
  width: 224px;
  min-width: max-content;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}
.select-items div {
  color: #222222;
  padding: 1rem;
  cursor: pointer;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none !important;
}

.select-items div:hover,
.same-as-selected {
  background: transparent linear-gradient(75deg, #ffffff 0%, rgba(124, 174, 242, 0.2509803922) 100%) 0% 0% no-repeat padding-box;
}

/*# sourceMappingURL=style.css.map */
