@import '../../sass/abstracts/_abstracts.scss';
.contact-hero-container {
  display: flex;
  flex-direction: column;
  background: transparent linear-gradient(218deg, #7caef226 0%, #7caef200 100%);

  background-repeat: no-repeat;
  position: relative;

  .small-hero-block-contact {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 32px;
    .small-hero-content {
      z-index: 2;
      .hero-breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        font-size: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 0.875rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        background-color: #ffffff;
        width: max-content;
        a {
          text-decoration: none;
          color: #878787;
          margin-right: 0.5rem;
          &:hover {
            color: $color__mcalpine-red;
          }

          &.breadcrumb-middle-link {
            margin-left: 0.5rem;
          }
        }
        span {
          display: flex;
          align-items: center;
        }
        svg {
          width: 0.375rem;
          margin: 0 0.5rem;
          path {
            fill: #5a5a5a;
          }
        }
        .breadcrumbs-current {
          color: $color__mcalpine-red;
          margin-left: 0.5rem;
        }
      }

      h1 {
        color: #222222;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding-left: 1.25rem;
        max-width: 85%;
      }

      .small-hero-text {
        margin: 0;
        color: #878787;

        overflow: hidden;
        line-height: 21px;
        width: 349px;
        max-width: 95%;
        padding-left: 1.25rem;
      }
      height: 60%;
    }

    .small-hero-image-container {
      display: none;

      display: flex;
      margin-bottom: -5.5rem;
      align-items: center;
      overflow: hidden;
      height: 8rem;

      img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .contact {
    z-index: 1;
    @include container-large;

    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    .warranty-block-hash {
      display: none;
    }

    .contact-text {
      padding-bottom: 3rem;
      max-width: 270px;
      h2 {
        max-width: 200px;
      }
      div {
        padding-bottom: 1.25rem;
      }
      p {
        margin-bottom: 0.5rem;
      }
    }
    form {
      height: 100%;
    }
    .gform-body,
    .gform_body {
      .gform_fields {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 1rem;

        .gfield {
          width: 100%;

          .ginput_container {
            width: 100%;

            input,
            textarea {
              width: 100%;
            }
            input[type='checkbox'],
            .gfield-choice-input {
              width: auto !important;
            }
            .gfield-choice-input::before {
              content: '';
              transform: scale(0);
              width: 18px;
              height: 18px;
              transition: 120ms transform ease-in-out;
              background: radial-gradient(
                ellipse at center,
                #ffffff 0%,
                #ffffff 37%,
                #ffffff 37%,
                $color__mcalpine-black 37%,
                $color__mcalpine-black 38%
              );
            }
            .gfield-choice-input:checked {
              border: solid 1px #222222;
            }
            .gfield-choice-input:checked::before {
              transform: scale(1);
            }
          }

          &.gfield--type-name {
            display: flex;
            flex-direction: column;
            .ginput_container {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }
          }
        }
      }
    }

    .contact-link {
      .footer-social-link {
        display: block;
        svg {
          height: 1.5rem;
          path,
          rect,
          circle {
            fill: $color__mcalpine-red;
          }
        }

        &:hover {
          svg {
            path,
            rect,
            circle {
              fill: $color__mcalpine-black;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $desktop) {
  .contact-hero-container {
    max-width: 1920px;
    margin: 0 auto;
    .small-hero-block-contact {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      padding-bottom: 0;
      .small-hero-content {
        background-color: #fff;
        width: 50%;
        margin-left: auto;
        padding-left: 3.75rem;
        padding-top: 54px;

        .hero-breadcrumbs {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          font-size: 1rem;
          a {
            text-decoration: none;
            color: #878787;
            margin-right: 0.5rem;
            &:hover {
              color: $color__mcalpine-red;
            }

            &.breadcrumb-middle-link {
              margin-left: 0.5rem;
            }
          }

          .breadcrumbs-current {
            color: $color__mcalpine-red;
            margin-left: 0.5rem;
          }
        }

        h1 {
          color: #222222;
          margin-top: 2.5rem;
          margin-bottom: 2rem;
        }

        .small-hero-text {
          margin: 0;
          color: #878787;
          overflow: hidden;
          text-overflow: none;
          line-height: 21px;
          max-height: none;
          width: auto;
          padding-bottom: 70px;
        }
      }

      .small-hero-image-container {
        max-width: 50%;
        width: 50%;
        margin-bottom: 0;
        height: unset;
        img {
          margin: 0 auto;
        }
      }
    }
    .contact {
      margin-top: -80px;
      margin-right: 0;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr 1fr;
      padding-right: 0 !important;
      gap: 2rem;
      padding-right: 0 !important;
      padding-top: 0 !important;
      .contact-text {
        padding-top: 8rem;
        h2,
        p {
          max-width: 380px;
        }
      }
      .form-container {
        position: relative;

        grid-area: 1 / 2 / span 2 / span 1;
        .warranty-block-hash {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          top: 0;
          left: 0;
          z-index: -1;

          img {
            max-width: none;
            width: 1920px;
          }
        }
      }
      .gform_wrapper {
        margin: 80px;
      }
      form {
        input {
          width: 100%;
        }
        input[type='checkbox'] {
          width: auto;
        }
        input[type='tel'] {
          width: 80%;
        }
        input[type='submit'] {
          width: fit-content;
          margin-top: 1.5rem;
        }
        .gform-body,
        .gform_body {
          .gform_fields {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 1.5rem;

            .gfield--width-full {
              grid-column: span 2;
            }
            .ginput_container_name {
              display: flex;
              flex-direction: row !important;

              flex-wrap: nowrap;
              gap: 1.5rem;
            }
            .gfield--type-textarea {
              grid-column: span 2;

              textarea {
                width: 100%;
              }
            }
          }
        }
      }
      .form-checkbox-submit {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        .checkbox-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
        input[type='checkbox'] {
          appearance: none;
          background-color: none;
          margin: 0;
          border: 1px solid #c7c7c7;
          border-radius: 0.15em;
          cursor: pointer;
          display: grid;
          place-content: center;
        }
        input[type='checkbox']::before {
          content: '';
          transform: scale(0);
          width: 18px;
          height: 18px;
          transition: 120ms transform ease-in-out;
          background: radial-gradient(
            ellipse at center,
            #ffffff 0%,
            #ffffff 37%,
            #ffffff 37%,
            $color__mcalpine-black 37%,
            $color__mcalpine-black 38%
          );
        }
        input[type='checkbox']:checked {
          border: solid 1px #222222;
        }
        input[type='checkbox']:checked::before {
          transform: scale(1);
        }
        .btn {
          margin-left: auto;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .contact-link {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 1rem;

        .social-links {
          display: flex;
          gap: 1rem;
        }
        a {
          display: block;
        }
      }
    }
  }
}

.ginput_container_select {
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    content: 'Hello! I am a';

    width: 120px;
    color: #fff;
    padding-right: 1rem;
    font-weight: 700;
  }
}

.ginput_container_select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */

/* Point the arrow upwards when the select box is open (active): */

/* style the items (options), including the selected item: */
.selected-container {
  border-bottom: 2px solid $color__mcalpine-black;
  padding-right: 3rem;
  cursor: pointer;
  width: 224px;
  min-width: max-content;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='chevron-down'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath fill='%23e63128' d='M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 99%;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;

  &.select-arrow-active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='chevron-up'%3E%3Crect width='24' height='24' transform='rotate(180 12 12)' opacity='0'/%3E%3Cpath fill='%23e63128' d='M16 14.5a1 1 0 0 1-.71-.29L12 10.9l-3.3 3.18a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.42l4-3.86a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.42 1 1 0 0 1-.69.28z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");

    & + .select-items {
      box-shadow: 0px 3px 6px #7caef24d;
    }
  }
}
.select-selected {
  color: $color__mcalpine-black;
  padding: 8px 1rem;
  cursor: pointer;
  font-weight: 700;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  color: #fff;
  top: 100%;
  left: 120px;
  right: 0;
  z-index: 99;
  width: 224px;
  min-width: max-content;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;

  div {
    color: $color__mcalpine-black;
    padding: 1rem;
    cursor: pointer;
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none !important;
}

.select-items div:hover,
.same-as-selected {
  background: transparent
    linear-gradient(75deg, #ffffff 0%, rgba(124, 174, 242, 0.2509803922) 100%)
    0% 0% no-repeat padding-box;
}

.ginput_container_number {
  .gfield_description {
    display: none;
  }
}

.ui-datepicker {
  background-color: #fff;
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.ui-state-default {
  color: $color__mcalpine-black;
  text-decoration: none;

  &:hover {
    color: $color__mcalpine-red;
  }
}

.ui-datepicker-unselectable {
  .ui-state-default {
    color: $color__mcalpine-grey;
  }
}

.ginput_container_number {
  input {
    padding: 1.25rem 1.5rem;
    border: solid 1px #cfcfcf;
    border-radius: 0.5rem;
    resize: none;
    &:hover {
      box-shadow: 5px 15px 15px #00000000;
      border: 1px solid #7caef2;
    }

    &:focus-visible {
      box-shadow: 0px 0px 10px #7caef2bf;
      border: 1px solid #7caef2;
      outline: 0;
    }
  }
}
