@import '../../sass/abstracts/_abstracts.scss';

.image-text-slider-block {
  .slider-buttons {
    height: 40px;
    display: flex;
    position: absolute;
    bottom: 56.7%;
    right: 0;
    padding: inherit;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-sizing: content-box;
    width: 80px;

    button {
      outline: 0;
      border: 0;
      width: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &.prev-button {
        background-color: #fff;

        svg {
          width: 10px;
          transform: rotate(180deg);
          path {
            fill: $color__mcalpine-red;
          }
        }

        &:hover {
          svg {
            path {
              fill: $color__mcalpine-black;
            }
          }
        }
      }

      &.next-button {
        background-color: $color__mcalpine-red;
        svg {
          width: 10px;
          path {
            fill: #fff;
          }
        }

        &:hover {
          svg {
            path {
              fill: $color__mcalpine-black;
            }
          }
        }
      }
    }
  }

  .image-text-slider-title-container {
    .image-text-slider-subtitle {
      color: $color__mcalpine-red;
      border: solid 1px $color__mcalpine-red;
      padding: 1rem 2rem;
      border-radius: 50px;
      width: fit-content;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-size: clamp(
        0.75rem,
        0.6633597883597884rem + 0.1763668430335097vw,
        0.875rem
      );
    }

    .image-text-slider-title {
      padding-top: 1.625rem;
      color: $color__mcalpine-black;
      margin: 0 auto;
      width: fit-content;
    }
  }

  .red-block {
    background-color: $color__mcalpine-red;
    display: none;
  }
  .slide-container {
    position: relative;
    @include container-large;
    list-style: none;
    .slide {
      display: none;

      &.active {
        display: block;
      }
    }
  }
  .image-text-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr auto;
    .image-container {
      grid-area: 1 / 1 / span 1 / span 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #f4f4f4;

      .image-text-background-image {
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
      }
      .overflow-image {
        position: absolute;
        object-fit: contain;
        left: unset !important;
        max-height: 90%;
      }
    }
    .text-container {
      grid-area: 2 / 1 / span 1 / span 1;
      padding: 2rem;
      background-color: $color__mcalpine-red;
      color: #ffffff;

      p {
        margin-bottom: 2rem;
        max-width: 90%;
      }

      h2 {
        max-width: 350px;
        padding-bottom: 1.5rem;
        padding-top: 2.5rem;
      }

      .color-block {
        height: 0.75rem;
        width: 56px;

        background-color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .image-text-slider-block {
    .slider-buttons {
      height: 80px;
      bottom: 0;
      right: 0;
      padding: inherit;
      padding-top: 0;
      padding-left: 0;
      box-sizing: content-box;
      width: 160px;
    }
    .image-text-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 70px 8fr 80px;

      .image-container {
        height: 100%;
        grid-area: 1 / 5 / span 2 / span 8;

        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          object-position: center center;
        }

        .overflow-image {
          max-height: unset;
        }
      }

      .red-block {
        grid-area: 3 / 5 / span 1 / span 3;
        display: block;
      }
      .text-container {
        grid-area: 2 / 1 / span 2 / span 4;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 80px;
        padding-top: 80px;
        padding-left: 4rem;

        .color-block {
          width: 93px;
          height: 1.5rem;
        }
        h2 {
          max-width: 420px;
          margin: 0;
          padding: 0;
          padding-top: 2.5rem;
          padding-bottom: 1.5rem;
        }

        p {
          max-width: 405px;
        }
      }
    }
  }
}
