// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container-large {
  width: 100%;
  max-width: $desktop__full;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;

  @media only screen and (min-width: $tablet) {
    padding: 3.75rem 2.5rem;
  }

  @media only screen and (min-width: $desktop) {
    padding: 5rem 3.75rem;
  }

  @media only screen and (min-width: $desktop__full) {
    padding-top: 5rem;
  }
}
