.product-guide-block {
  color: #222222;
}
.product-guide-block .product-guide-container {
  width: 100%;
  max-width: 110.25rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
@media only screen and (min-width: 48rem) {
  .product-guide-block .product-guide-container {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .product-guide-block .product-guide-container {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .product-guide-block .product-guide-container {
    padding-top: 5rem;
  }
}
.product-guide-block .product-guide-container .product-guide-background-image {
  grid-area: 1/1/span 1/span 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.product-guide-block .product-guide-container .product-guide-gradients {
  z-index: 2;
  grid-area: 1/1/span 1/span 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 2fr 1fr;
}
.product-guide-block .product-guide-container .product-guide-gradients .product-guide-gradient-white {
  grid-area: 1/1/span 1/span 1;
  background-color: #f2f7fd;
}
.product-guide-block .product-guide-container .product-guide-gradients .product-guide-gradient-blue {
  grid-area: 2/1/span 1/span 1;
  background: transparent linear-gradient(180deg, #f2f7fd 0%, rgba(124, 174, 242, 0) 100%) 0% 0% no-repeat padding-box;
}
.product-guide-block .product-guide-container .product-guide-content {
  z-index: 3;
  grid-area: 1/1/span 1/span 1;
  border: solid 1px #f4f4f4;
  padding-bottom: 258px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.product-guide-block .product-guide-container .product-guide-content .white-dash {
  height: 1.5rem;
  width: 94px;
  background-color: #e63128;
  margin-top: 50px;
}
.product-guide-block .product-guide-container .product-guide-content h2 {
  padding-top: 2rem;
  max-width: 360px;
}
.product-guide-block .product-guide-container .product-guide-content .product-guide-text {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.product-guide-block .product-guide-container .product-guide-content .buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 64rem) {
  .product-guide-block .product-guide-container .product-guide-gradients {
    grid-template-columns: 1.5fr 1fr 3fr;
    grid-template-rows: 100%;
  }
  .product-guide-block .product-guide-container .product-guide-gradients .product-guide-gradient-white {
    grid-area: 1/1/span 1/span 1;
  }
  .product-guide-block .product-guide-container .product-guide-gradients .product-guide-gradient-blue {
    grid-area: 1/2/span 1/span 2;
    background: transparent linear-gradient(90deg, #f2f7fd 0%, rgba(124, 174, 242, 0) 100%) 0% 0% no-repeat padding-box;
  }
  .product-guide-block .product-guide-container .product-guide-background-image {
    max-height: 560px;
  }
  .product-guide-block .product-guide-container .product-guide-content {
    padding-bottom: 7.5rem;
    padding-left: 6rem;
    padding-top: 7.5rem;
    height: 100%;
  }
  .product-guide-block .product-guide-container .product-guide-content .white-dash {
    margin-top: 0;
  }
  .product-guide-block .product-guide-container .product-guide-content h2 {
    max-width: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
