// @for $i from 2 through 50 {
//   .animated {
//     .acf-innerblocks-container {
//       .insight-card:nth-of-type(#{$i}) {
//         animation-delay: ($i - 1) * 200ms;
//
//         .insight-card-text {
//           h6 {
//             animation-delay: (($i - 1) * 200) + 100ms;
//           }
//           h3 {
//             animation-delay: (($i - 1) * 200) + 350ms;
//           }
//         }
//         .insight-card-image-container {
//           .insight-card-background-image {
//             animation-delay: (($i - 1) * 200) + 350ms;
//           }
//         }
//       }
//     }
//   }
//   .insight-card:nth-of-type(#{$i}) {
//     animation-delay: ($i - 1) * 75ms;
//
//     .insight-card-image-container {
//       .insight-card-background-image {
//         animation-delay: (($i - 1) * 75) + 50ms;
//       }
//     }
//
//     .insight-card-text {
//       h6 {
//         animation-delay: (($i - 1) * 75) + 350ms;
//       }
//
//       h3 {
//         animation-delay: (($i - 1) * 75) + 500ms;
//       }
//     }
//   }
// }

@for $y from 1 through 50 {
  .insight-archive-grid:nth-child(#{$y}) {
    &.insight-card {
      animation-delay: $y * 75ms;

      .insight-card-image-container {
        .insight-card-background-image {
          animation-delay: ($y * 75) + 50ms !important;
        }
      }

      .insight-card-text {
        h6 {
          animation-delay: ($y * 75) + 350ms !important;
        }

        h3 {
          animation-delay: ($y * 75) + 500ms !important;
        }
      }
    }
  }
}

.animate,
.insight-archive-grid {
  .insight-card {
    opacity: 0;
    transform: scale(0.9);
  }
}

.animated,
.insight-archive-grid {
  .insight-card {
    opacity: 1;

    @include grow;
    transform-origin: bottom left;
    .insight-card-background-image {
      @include zoom;
    }

    .insight-card-text {
      h6 {
        @include slide-in;
        animation-delay: 100ms;
      }

      h3 {
        @include slide-in;
        animation-delay: 350ms;
      }
    }
  }
}

.editor-styles-wrapper {
  .animate {
    .product-card-container {
      opacity: 1;
    }
  }
}
.insight-card {
  transform-origin: bottom left;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.875rem;
  aspect-ratio: 1;
  max-height: 424px;
  cursor: pointer;
  overflow: hidden;
  grid-column: span 1;
  container-type: inline-size;
  container-name: insight-card;

  .insight-card-image-container {
    grid-area: 1 / 1 / span 2 / span 1;
    background-color: $color__mcalpine-red-2;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    .insight-card-hover-gradient {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background: transparent
        linear-gradient(180deg, #22222233 0%, #222222 100%) 0% 0% no-repeat
        padding-box;
      z-index: 2;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      height: 100%;
    }

    .insight-card-background-image {
      animation-delay: 100ms;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .insight-card-text {
    grid-area: 1 / 1 / span 1 / span 1;
    color: #ffffff;
    padding-left: 1.5rem;
    padding-top: 2rem;
    max-width: 332px;
    h6 {
      padding-bottom: 1.25rem;
      font-size: 14px;
      margin: 0;
    }

    h3 {
      font-size: 1.424rem;
      padding-right: 0.5rem;
    }
  }

  .insight-card-link {
    grid-area: 2 / 1 / span 1 / span 1;
    z-index: 1;

    a {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-self: end;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      span {
        padding-right: 1.25rem;
        font-size: 11px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .insight-link-arrow {
        background-color: $color__mcalpine-red;
        height: 2.875rem;
        width: 2.875rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &:hover,
  &.mobile-show {
    .insight-card-image-container {
      .insight-card-hover-gradient {
        opacity: 0.5;
      }
    }

    .insight-card-link {
      a {
        span {
          opacity: 1;
        }

        .insight-link-arrow {
          transform: translateX(0%);
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .insight-card {
    &.col-2 {
      grid-column: span 2;
    }

    &.col-3 {
      grid-column: span 3;
    }

    &.col-4 {
      grid-column: span 4;
    }
    &.mobile-show {
      .insight-card-image-container {
        .insight-card-hover-gradient {
          opacity: 0;
        }
      }

      .insight-card-link {
        a {
          span {
            opacity: 0;
          }

          .insight-link-arrow {
            transform: translateX(100%);
          }
        }
      }

      &:hover {
        .insight-card-image-container {
          .insight-card-hover-gradient {
            opacity: 0.5;
          }
        }

        .insight-card-link {
          a {
            span {
              opacity: 1;
            }

            .insight-link-arrow {
              transform: translateX(0%);
            }
          }
        }
      }
    }
  }
}

@supports (contain: inline-size) {
  @container insight-card (min-width: 320px) {
    .insight-card {
      .insight-card-text {
        h3 {
          font-size: 1.424rem;
          font-size: clamp(1.424rem, calc(-0.3483rem + 8.8615cqw), 2rem);
        }
      }
    }
  }
  @container insight-card (min-width: 424px) {
    .insight-card {
      .insight-card-text {
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}
