#insight-archive {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
}

.insight-card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.875rem;
  height: 424px;
  cursor: pointer;
  overflow: hidden;
  grid-column: span 1;

  &.col-2 {
    grid-column: span 2;
  }

  &.col-3 {
    grid-column: span 3;
  }

  &.col-4 {
    grid-column: span -1;
  }

  .insight-card-image-container {
    grid-area: 1 / 1 / span 2 / span 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    .insight-card-hover-gradient {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background: transparent
        linear-gradient(180deg, #22222233 0%, #222222 100%) 0% 0% no-repeat
        padding-box;
      z-index: 2;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      height: 100%;
    }

    .insight-card-background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .insight-card-text {
    grid-area: 1 / 1 / span 1 / span 1;
    color: #ffffff;
    padding-left: 1.5rem;
    padding-top: 2rem;
    max-width: 332px;
    h6 {
      padding-bottom: 1.25rem;
    }
  }

  .insight-card-link {
    grid-area: 2 / 1 / span 1 / span 1;
    z-index: 1;

    a {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-self: end;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      span {
        padding-right: 1.25rem;
        font-size: 11px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .insight-link-arrow {
        background-color: $color__mcalpine-red;
        height: 2.875rem;
        width: 2.875rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &:hover {
    .insight-card-image-container {
      .insight-card-hover-gradient {
        opacity: 0.5;
      }
    }

    .insight-card-link {
      a {
        span {
          opacity: 1;
        }

        .insight-link-arrow {
          transform: translateX(0%);
        }
      }
    }
  }
}
