.main-nav {
  position: fixed;
  left: 0;
  top: 0;

  z-index: 10;
  width: 100%;
  background-color: #ffffff;

  .nav-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .resultImage {
    max-width: 100%;
  }

  .cls-1 {
    fill: $color__mcalpine-red;
  }
  .desktop-menu {
    display: none;
    background-color: #ffffff;

    .nav-content {
      box-shadow: none;
    }
    .nav-links {
      display: flex;
      align-items: center;

      .desktop-mega-menu {
        color: $color__mcalpine-red;
        font: normal normal bold 16px/18px 'TheSans';
        padding-left: 25px;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 0;
        padding: 0;
        padding-left: 25px;

        li {
          a {
            text-decoration: none;
            color: $color__mcalpine-red;
            font: normal normal bold 16px/18px 'TheSans';
            &:hover {
              color: $color__mcalpine-red;
            }
          }
        }
      }
    }
  }

  .nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0 -3px 10px #0000000d;
  }

  .site-logo {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-right: 1.25rem;
    svg {
      width: 125px;
    }
  }

  .search-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;

    #search-form__mobile {
      position: unset;
    }
  }

  #results-container__mobile {
    max-width: 100%;
    height: calc(100vh - 60px);
    transition: 300ms;
    padding: 60px 0;
    left: 0;
    top: 60px;
    display: block;
    z-index: 5;

    &.show {
      transform: translateY(-100vh);
    }
  }

  .search-submit__mobile {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: start;
    background-color: #f4f4f4;
    outline: 0;
    color: $color__mcalpine-red;
    height: 60px;
    padding: 0 35px;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
  }

  &.red {
    background-color: $color__mcalpine-red;
    .desktop-menu {
      background-color: $color__mcalpine-red;
      .site-logo {
        background-color: $color__mcalpine-red;

        svg {
          rect,
          polygon,
          path {
            fill: #fff;
          }
        }
      }

      .menu {
        a {
          color: #fff;

          &:hover {
            color: $color__mcalpine-black;
          }
        }

        .sub-menu {
          background-color: $color__mcalpine-red;

          a {
            color: #fff !important;

            &:hover {
              color: $color__mcalpine-black !important;
            }
          }
        }
      }

      .product-text {
        color: #fff;
      }

      .select-interest {
        background-color: $color__mcalpine-red !important;
        color: #fff !important;
        border-bottom: solid 2px #fff;

        &:hover {
          border: solid 1px #fff !important;
        }

        svg {
          rect,
          path {
            fill: #fff !important;
          }
        }
        .interest-links {
          background-color: $color__mcalpine-red !important;
          border: solid 1px #fff !important;
          a {
            color: #fff !important;

            &:hover {
              color: $color__mcalpine-black !important;
            }
          }
        }

        &.open {
          border: solid 1px #fff !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 68rem) {
  .main-nav {
    position: inherit;
    border-bottom: 1px solid #f4f4f4;
    margin: 0 auto;
    .mobile-menu {
      display: none;
    }
    .desktop-menu {
      display: flex;
      justify-content: center;
      max-width: 1920px;
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .menu-item-has-children {
      position: relative;

      ul.sub-menu {
        padding: 0 !important;
        padding-top: 25px !important;
        display: none !important;
        flex-direction: column !important;
        position: absolute;
        top: 100%;
        right: -2.5rem;
        width: 200px;
        height: min-content;
        background-color: #fff;
        list-style: none;
        gap: 0 !important;

        li {
          &:first-of-type {
            border-top: solid 1px #fff;
          }
          font-size: 1rem;
          font-weight: 700;
          a {
            padding: 1rem !important;
            display: block;
            width: 100%;
            color: $color__mcalpine-black !important;
          }

          &:hover {
            background: transparent
              linear-gradient(75deg, #ffffff 0%, #7caef20f 100%) 0% 0% no-repeat
              padding-box;
            a {
              margin-left: -0.175rem;

              color: $color__mcalpine-red !important;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }

      &:hover {
        ul.sub-menu {
          display: flex !important;
        }
      }
    }
  }
}
