.btn {
  font-size: 1rem;
  padding: 1rem 1.6875rem;
  line-height: 1;
  text-align: center;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: fit-content;

  transition: all 100ms ease-in-out;

  &.btn-black {
    background-color: $color__mcalpine-black;
    border: solid 1px $color__mcalpine-black;
    color: #ffffff;

    &:hover {
      background-color: $color__mcalpine-black-2;
      border: solid 1px $color__mcalpine-black-2;
    }

    &.btn-outline {
      background-color: #ffffff;
      border: solid 1px $color__mcalpine-black;
      color: $color__mcalpine-black;

      &:hover {
        background-color: $color__mcalpine-black;
        color: #ffffff;
      }
    }
  }
  &.btn-arrow {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13.922" height="16.245" viewBox="0 0 13.922 16.245"><path d="M0,16.245V11.68L6.667,7.869,0,4.06V0L13.922,8.122,0,16.244Z" fill="%23fff"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 1.5rem) center;
    padding-right: 4rem;
  }
  &.btn-red {
    background-color: $color__mcalpine-red;
    color: #ffffff;

    &:hover {
      background-color: $color__mcalpine-red-2;
    }

    &.btn-outline {
      background-color: #ffffff;
      color: $color__mcalpine-black;
      border: solid 1px $color__mcalpine-red;

      &:hover {
        background-color: $color__mcalpine-red;
        color: #ffffff;
      }
    }
  }

  &.btn-white {
    background-color: #ffffff;
    color: $color__mcalpine-black;
    border: 0;

    &:hover {
      background-color: $color__mcalpine-black;
      color: #ffffff;
    }

    &.btn-outline {
      background-color: transparent;
      color: #fff;
      border: solid 1px #fff;

      &:hover {
        background-color: #fff;
        color: $color__mcalpine-black;
        border-color: #fff;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .btn {
    font-size: 1.125rem;
    padding: 1.25rem 2rem;
  }
}
