@import '../../sass/abstracts/_abstracts.scss';

.contact {
  @include container-large;
  padding-top: 100px;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;

  .contact-text {
    padding-bottom: 3rem;
    h2 {
      max-width: 200px;
    }
  }
  form {
    background-color: $color__mcalpine-red;
    color: #fff;
    padding: 2rem;
  }
  .gform-body,
  .gform_body {
    .grform_fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

    gap: 2rem;

    .contact-text {
      h2,
      p {
        max-width: 380px;
      }
    }
    .gform_wrapper {
      grid-area: 1 / 2 / span 2 / span 1;
    }
    form {
      input {
        width: 100%;
      }
      input[type='checkbox'] {
        width: auto;
      }
      input[type='tel'] {
        width: 80%;
      }
      input[type='submit'] {
        width: fit-content;
        margin-top: 1.5rem;
      }
      .gform-body,
      .gform_body {
        .gform_fields {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          gap: 1.5rem;

          .gfield--width-full {
            grid-column: span 2;
          }
          .ginput_container_name {
            display: flex;
            gap: 1.5rem;
          }
          .gfield--type-textarea {
            grid-column: span 2;

            textarea {
              width: 100%;
            }
          }
        }
        .ginput_container_address {
          flex-wrap: wrap;

          span {
            width: calc(50% - 0.75rem);
          }
        }
      }
    }
    .form-checkbox-submit {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
      input[type='checkbox'] {
        appearance: none;
        background-color: none;
        margin: 0;
        border: 1px solid #c7c7c7;
        border-radius: 0.15em;
        cursor: pointer;
        display: grid;
        place-content: center;
      }
      input[type='checkbox']::before {
        content: '';
        transform: scale(0);
        width: 18px;
        height: 18px;
        transition: 120ms transform ease-in-out;
        background: radial-gradient(
          ellipse at center,
          #ffffff 0%,
          #ffffff 37%,
          #ffffff 37%,
          $color__mcalpine-black 37%,
          $color__mcalpine-black 38%
        );
      }
      input[type='checkbox']:checked {
        border: solid 1px #222222;
      }
      input[type='checkbox']:checked::before {
        transform: scale(1);
      }
      .btn {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .contact-link {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1.25rem;
      max-width: 502px;
    }
  }
}
