$color__white: #ffffff;

$color__mcalpine-red: #e63128;
$color__mcalpine-red-2: #eb5a53;
$color__mcalpine-red-3: #f0837e;
$color__mcalpine-red-4: #f5ada9;
$color__mcalpine-red-5: #fad6d4;

$color__mcalpine-blue: #00a0de;
$color__mcalpine-blue-2: #19bfff;
$color__mcalpine-blue-3: #52cfff;
$color__mcalpine-blue-4: #8cdfff;
$color__mcalpine-blue-5: #c5efff;

$color__mcalpine-black: #222222;
$color__mcalpine-black-2: #4e4e4e;
$color__mcalpine-black-3: #7a7a7a;
$color__mcalpine-black-4: #a7a7a7;
$color__mcalpine-black-5: #d3d3d3;

$color__mcalpine-grey: #878787;
$color__mcalpine-grey-2: #9f9f9f;
$color__mcalpine-grey-3: #b7b7b7;
$color__mcalpine-grey-4: #cfcfcf;
$color__mcalpine-grey-5: #e7e7e7;

$color__border-grey: #f4f4f4;
$color__background-grey: #f9f9f9;
