@import '../../sass/abstracts/_abstracts.scss';

.home-hero-block {
  background: transparent linear-gradient(190deg, #7caef21f 0%, #7caef200 100%)
    0% 0% no-repeat padding-box;
  height: 85vh;
  .home-hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
    .hero-background-gradient {
      overflow: hidden;
      position: absolute;
      z-index: 2;

      img {
        width: 120rem;
        height: auto;
        max-width: none;
      }

      &:first-of-type {
        right: 0;
        top: 10%;
        height: 15rem;
        width: 4rem;
      }

      &:nth-of-type(2) {
        height: 4rem;
        width: 45%;
        bottom: 5%;
        left: 1.25rem;
      }
    }
    .home-hero-text {
      transform: translateY(40%);
      opacity: 0;
      animation-name: slide-in-hero;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;

      h1 {
        color: $color__mcalpine-red;
        font-weight: 400;
        font-size: clamp(2.281rem, calc(-0.366rem + 5.513vw), 6.25rem);
        text-align: center;
        margin: 0;
        * {
          font-size: clamp(2.281rem, calc(-0.366rem + 5.513vw), 6.25rem);
        }
        a,
        u {
          text-decoration: none;
          background-image: linear-gradient(#7badf2, #7badf2);
          background-size: 0% 0.075em;
          background-position-y: 90%;
          background-position-x: 0%;
          background-repeat: no-repeat;

          animation-name: underline;
          animation-duration: 0.75s;
          animation-timeline: linear;
          animation-fill-mode: forwards;
          animation-delay: 0.75s;
        }
      }

      .hero-text {
        font-size: 1rem;
        font-size: clamp(1rem, calc(0.667rem + 0.694vw), 1.5rem);
        padding: 0;
        text-align: center;
        max-width: 871px;
      }
    }

    ul {
      position: absolute;
      z-index: 1;
      list-style: none;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        display: none;
        height: 100%;
        width: 100%;
        &.show {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          .position-1 {
            grid-area: 1 / 1 / span 1 / span 1;
          }

          .position-2 {
            grid-area: 1 / 1 / span 1 / span 1;
          }

          .position-3 {
            grid-area: 2 / 2 / span 1 / span 1;
          }

          .position-4 {
            grid-area: 2 / 2 / span 1 / span 1;
          }

          .home-hero-image-container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;

            .home-hero-schematic-image {
              grid-area: 1 / 1 / span 1 / span 1;
              align-self: center;
              justify-self: center;
              width: 100%;
              height: 100%;
              max-width: 400px;
              max-height: 400px;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                stroke-width: 1px;
                * {
                  stroke-width: 1px;
                }
              }
              img {
                width: 100%;
                height: 100%;
                max-width: 65%;
                object-fit: contain;
              }
            }

            .home-hero-hover-image {
              opacity: 0;
              grid-area: 1 / 1 / span 1 / span 1;
              align-self: center;
              justify-self: center;
              transition: opacity 0.25s linear;
              max-width: 385px;
              max-height: 385px;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .home-hero-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 110px);

    .home-hero-content {
      display: flex;
      align-items: center;
      position: relative;
      background-size: cover;
      height: 100%;
      max-width: 120rem;
      width: 100%;
      .hero-background-gradient {
        overflow: hidden;
        position: absolute;
        z-index: 2;

        img {
          width: 120rem;
          height: auto;
          max-width: none;
        }

        &:first-of-type {
          right: 0;
          top: 20%;
          height: 25rem;
          width: 6rem;
        }

        &:nth-of-type(2) {
          height: 6rem;
          width: 25rem;
          bottom: 0;
          left: 10%;
        }
      }
      .home-hero-text {
        z-index: 3;
      }
      ul {
        position: absolute;
        z-index: 1;
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          display: none;
          height: 100%;
          width: 100%;
          &.show {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            column-gap: 20rem;
            .position-1 {
              grid-area: 1 / 1 / span 1 / span 1;

              animation-name: hero-schematic-1;
            }

            .position-2 {
              grid-area: 1 / 2 / span 1 / span 1;
              animation-name: hero-schematic-2;
            }

            .position-3 {
              grid-area: 2 / 1 / span 1 / span 1;

              animation-name: hero-schematic-3;
            }

            .position-4 {
              grid-area: 2 / 2 / span 1 / span 1;

              animation-name: hero-schematic-4;
            }

            .home-hero-image-container {
              display: grid;
              opacity: 0;
              grid-template-columns: 100%;
              grid-template-rows: 100%;
              animation-duration: 5s;
              animation-fill-mode: forwards;

              &:nth-of-type(2) {
                animation-delay: 200ms;
              }
              .home-hero-schematic-image {
                grid-area: 1 / 1 / span 1 / span 1;
                align-self: center;
                justify-self: center;
              }

              .home-hero-hover-image {
                opacity: 0;
                grid-area: 1 / 1 / span 1 / span 1;
                align-self: center;
                justify-self: center;
                transition: opacity 0.25s linear;
              }

              &:hover {
                .home-hero-hover-image {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      h1 {
        max-width: 1416px;

        * {
          font-size: 100px;

          font-size: clamp(2.281rem, calc(-0.366rem + 5.513vw), 6.25rem);
          display: inline;
          margin: 0;
          padding: 0;
        }
        p {
          padding-left: 0;
          max-width: 100%;
        }
        ul {
          text-decoration: underline;
          text-decoration-color: #7caef2;
        }
      }

      .hero-text {
        font-size: 1rem;
        font-size: clamp(1rem, calc(0.667rem + 0.694vw), 1.5rem);
        padding: 0;
        text-align: center;
        max-width: 871px;
        margin: 0 auto;
      }
    }
  }
}

@keyframes hero-schematic-1 {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10% {
    transform: scale(1) translate(0%, 0%);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-schematic-2 {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.05) translateX(2%) translateY(-2%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-schematic-3 {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.05) translateX(-2%) translateY(2%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-schematic-4 {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.05) translateX(2%) translateY(2%);
  }
  100% {
    opacity: 0;
  }
}
