.home-hero-block {
  background: transparent linear-gradient(190deg, rgba(124, 174, 242, 0.1215686275) 0%, rgba(124, 174, 242, 0) 100%) 0% 0% no-repeat padding-box;
  height: 100vh;
}
.home-hero-block .home-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-hero-block .home-hero-content h1 {
  color: #e63128;
  font-weight: 400;
  font-size: clamp(2.281rem, -0.366rem + 5.513vw, 6.25rem);
  text-align: center;
  margin: 0;
}
.home-hero-block .home-hero-content h1 * {
  font-size: clamp(2.281rem, -0.366rem + 5.513vw, 6.25rem);
}
.home-hero-block .home-hero-content h1 a,
.home-hero-block .home-hero-content h1 u {
  text-decoration-color: #7badf2;
}
.home-hero-block .home-hero-content .hero-text {
  font-size: 1rem;
  font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
  padding: 0;
  text-align: center;
  max-width: 871px;
}

@media only screen and (min-width: 64rem) {
  .home-hero-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 110px);
  }
  .home-hero-block .home-hero-content {
    width: 100%;
    max-width: 110.25rem;
    margin: 0 auto;
    padding: 2.1875rem 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    height: 100%;
  }
}
@media only screen and (min-width: 64rem) and (min-width: 48rem) {
  .home-hero-block .home-hero-content {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) and (min-width: 64rem) {
  .home-hero-block .home-hero-content {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 64rem) and (min-width: 120rem) {
  .home-hero-block .home-hero-content {
    padding-top: 5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .home-hero-block .home-hero-content .home-hero-text {
    padding-bottom: 192px;
    z-index: 2;
  }
  .home-hero-block .home-hero-content ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .home-hero-block .home-hero-content ul li {
    display: none;
    height: 100%;
    width: 100%;
  }
  .home-hero-block .home-hero-content ul li.show {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .home-hero-block .home-hero-content ul li.show .position-1 {
    grid-area: 1/1/span 1/span 1;
  }
  .home-hero-block .home-hero-content ul li.show .position-2 {
    grid-area: 1/2/span 1/span 1;
  }
  .home-hero-block .home-hero-content ul li.show .position-3 {
    grid-area: 2/1/span 1/span 1;
  }
  .home-hero-block .home-hero-content ul li.show .position-4 {
    grid-area: 2/2/span 1/span 1;
  }
  .home-hero-block .home-hero-content ul li.show .home-hero-image-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  .home-hero-block .home-hero-content ul li.show .home-hero-image-container .home-hero-schematic-image {
    grid-area: 1/1/span 1/span 1;
    align-self: center;
    justify-self: center;
  }
  .home-hero-block .home-hero-content ul li.show .home-hero-image-container .home-hero-hover-image {
    opacity: 0;
    grid-area: 1/1/span 1/span 1;
    align-self: center;
    justify-self: center;
    transition: opacity 0.2s ease-in-out;
  }
  .home-hero-block .home-hero-content ul li.show .home-hero-image-container:hover .home-hero-hover-image {
    opacity: 1;
  }
  .home-hero-block .home-hero-content h1 {
    max-width: 1416px;
  }
  .home-hero-block .home-hero-content h1 * {
    font-size: 100px;
    font-size: clamp(2.281rem, -0.366rem + 5.513vw, 6.25rem);
    display: inline;
    margin: 0;
    padding: 0;
  }
  .home-hero-block .home-hero-content h1 p {
    padding-left: 0;
    max-width: 100%;
  }
  .home-hero-block .home-hero-content h1 ul {
    text-decoration: underline;
    text-decoration-color: #7caef2;
  }
  .home-hero-block .home-hero-content .hero-text {
    font-size: 1rem;
    font-size: clamp(1rem, 0.667rem + 0.694vw, 1.5rem);
    padding: 0;
    text-align: center;
    max-width: 871px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
