@import '../../sass/abstracts/_abstracts.scss';

.featured-insight-hero-block {
  position: relative;

  .insight-hero-gradient {
    position: absolute;
    z-index: -1;
    background: transparent
      linear-gradient(207deg, #7caef226 0%, #7caef200 100%) 0% 0% no-repeat
      padding-box;
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
  }

  .insight-hero-container {
    @include container-large;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .insight-hero-image-container {
      display: flex;
      z-index: 1;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 228px;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: multiply;
        background: transparent
          linear-gradient(180deg, #22222200 0%, #222222 100%) 0% 0% no-repeat
          padding-box;
      }
    }

    .featured-insight-hatching {
      width: 40%;
      height: 1.5rem;
      margin-left: auto;

      overflow: hidden;
      img {
        width: 960px;
        max-width: none;
        object-fit: cover;
      }
    }

    .insight-hero-post-content {
      background-color: $color__mcalpine-red;
      color: #ffffff;
      padding-left: 2rem;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;

      h2 {
        padding-top: 0.625rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        margin: 0;
      }

      p {
        padding-right: 2rem;
        margin: 0;
      }

      .featured-insight-link {
        background-color: #ffffff;
        width: 2.5rem;
        height: 2.5rem;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          path {
            fill: $color__mcalpine-red;
          }
        }
      }
    }
  }
  .hero-title {
    color: $color__mcalpine-red;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 80%;
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
    justify-content: end;
    z-index: 2;

    .hero-title-desktop {
      display: none;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .featured-insight-hero-block {
    .insight-hero-gradient {
      width: 50%;
    }

    .hero-title {
      grid-area: 1 / 1 / span 2 / span 6;
      justify-content: start;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      min-width: 100%;
      display: flex;
      align-items: center;
      z-index: 3;

      .hero-title-mobile {
        display: none;
      }

      .hero-title-desktop {
        display: block;
        margin: 0;
      }
    }

    .insight-hero-container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 7.5rem 7.5rem 8fr 3rem;

      .insight-hero-image-container {
        height: 584px;
        grid-area: 2 / 1 / span 2 / span 12;
      }
      .featured-insight-hatching {
        grid-area: 4/ 3 / span 1 / span 4;
        height: 100%;
        margin-left: 0;
        width: auto;
        img {
          width: 1920px;
        }
      }
      .insight-hero-post-content {
        padding-top: 46px;
        padding-left: 50px;
        grid-area: 3 / 9 / span 2 / span 4;
        z-index: 2;
        height: fit-content;
        align-self: end;

        h2,
        p {
          padding-right: 3.625rem;
        }

        .featured-insight-link {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }
}
