@import '../../sass/abstracts/_abstracts.scss';
.product-details {
  .acf-innerblocks-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;

    &.block-editor-block-list__layout {
      padding-bottom: 3rem;
    }
  }
}
