@import '../../sass/abstracts/_abstracts.scss';

// .animate {
//   .image-text-block {
//     opacity: 0;
//     .product-card {
//       .sku-count {
//         opacity: 0;
//       }
//     }
//   }
// }
//
// .animated {
//   .product-card-container {
//     opacity: 1;
//
//     @include grow;
//     transform-origin: bottom left;
//     .product-card {
//       .product-title {
//         @include slide-in;
//         animation-delay: 50ms;
//       }
//       .product-block-image {
//         img {
//           @include grow;
//           animation-delay: 100ms;
//         }
//       }
//       .sku-count {
//         @include grow;
//         transform-origin: center right;
//         animation-delay: 300ms;
//       }
//     }
//   }
// }

.image-text-block {
  .text-color-block {
    &.color-red {
      background-color: $color__mcalpine-red;
    }
  }
  &.red {
    background-color: $color__mcalpine-red;

    .image-text-container {
      .text-container {
        color: #fff;

        .color-block {
          background-color: #fff;
        }
      }
    }
  }

  &.white {
    .image-text-container {
      .text-container {
        &.color-red {
          background-color: $color__mcalpine-red;
          color: #ffffff;

          .color-block {
            background-color: #ffffff;
          }
        }

        &.color-white {
          background-color: #ffffff;
          h2 {
            color: $color__mcalpine-black;
          }

          p {
            color: #5a5a5a;
          }

          .color-block {
            background-color: $color__mcalpine-red;
          }
        }
      }
    }
  }
  .image-text-container {
    @include container-large;
    display: flex;
    &.overflow {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    &.i-top {
      flex-direction: column-reverse;
    }

    &.i-bottom {
      flex-direction: column;
    }
    .image-container {
      display: flex;
      align-items: center;
      position: relative;

      .image-text-background-image {
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .overflow-image {
        position: absolute;
      }

      .video-block {
        width: 100%;
      }
    }
    .text-color-block {
      display: none;
    }
    .text-container {
      p {
        margin-bottom: 2rem;
        max-width: 405px;
      }
      h2 {
        max-width: 350px;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        margin: 0;
      }
      .color-block {
        height: 0.75rem;
        width: 56px;
      }
    }
    .text-block-hash {
      display: none;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .image-text-block {
    &.red {
      .text-block-hash {
        display: none !important;
      }

      .image-text-container {
        grid-template-rows: 1fr;
        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
        }
      }
    }
    .image-text-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 9fr 1fr;
      gap: 0px;

      .text-block-hash {
        display: none;
      }
      .text-color-block {
        &.color-red {
          display: block;
        }
      }
      .text-container {
        min-width: 380px;
        h2 {
          max-width: 420px;
        }
      }
      &.color-red {
        grid-template-rows: 1fr 8fr 80px;

        .text-block-hash {
          display: block;
          grid-area: 3 / 2 / span 1 / span 2;
          overflow: hidden;
          img {
            width: 1400px;
            max-width: none;
          }
        }
        .image-container {
          width: auto;
          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center center;
          }
        }

        .text-container {
          width: auto;
          display: flex;
          flex-direction: column;
          padding-bottom: 7.5%;
        }

        &.i-left {
          .image-container {
            grid-area: 1 / 1 / span 2 / span 7;
          }
          .text-container {
            grid-area: 2 / 8 / span 2 / span 5;
          }
          .text-color-block {
            grid-area: 3 / 6 / span 1 / span 2;
          }
        }

        &.i-right {
          .image-container {
            grid-area: 1 / 6 / span 2 / span 7;
          }
          .text-container {
            grid-area: 2 / 1 / span 2 / span 5;
          }
          .text-color-block {
            grid-area: 3 / 6 / span 1 / span 2;
          }
          .text-block-hash {
            grid-area: 3 / 10 / span 1 / span 2;
          }
        }
      }

      &.i-right {
        .image-container {
          grid-area: 1 / 5 / span 1 / span 8;
          width: auto;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center center;
          }
        }
        .text-color-block {
          grid-area: 1 / 1 / span 1 / span 1;
        }
        .text-container {
          grid-area: 1 / 1 / span 1 / span 4;
          width: auto;
        }
      }

      &.i-left {
        .image-container {
          grid-area: 1 / 1 / span 1 / span 8;
          width: auto;
          height: 100%;
        }

        .text-container {
          grid-area: 1 / 9 / span 1 / span 4;
          width: auto;
        }
        .text-color-block {
          grid-area: 1 / 9 / span 1 / span 4;
        }
      }

      .text-container {
        .color-block {
          width: 93px;
          height: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop__large) {
  .image-text-block {
    .image-text-container {
      &.color-red {
        &.i-left {
          .image-container {
            grid-area: 1 / 1 / span 2 / span 8;
          }
          .text-container {
            grid-area: 2 / 9 / span 2 / span 4;
          }
        }

        &.i-right {
          .image-container {
            grid-area: 1 /5 / span 2 / span 8;
          }
          .text-container {
            grid-area: 2 / 1 / span 2 / span 4;
          }
          .text-color-block {
            grid-area: 3 / 5 / span 1 / span 3;
          }
          .text-block-hash {
            grid-area: 3 / 10 / span 1 / span 2;
          }
        }
      }
    }
  }
}
