@import '../../sass/abstracts/_abstracts.scss';
.grid-block {
  overflow: hidden;
  @include container-large;
  container-type: inline-size;
  container-name: block-grid-container;

  .grid-title-container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    margin-bottom: 2.5rem;
    .grid-link {
      display: none;
      color: $color__mcalpine-grey;

      &:hover {
        color: $color__mcalpine-red;
      }
    }
    .grid-title {
      width: auto;
      &.red {
        color: $color__mcalpine-red;
      }

      &.white {
        color: #ffffff;
      }

      &.black {
        color: $color__mcalpine-black;
      }
      &.center {
        margin: 0 auto;
        margin-bottom: 2.5rem;
      }
      &.columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .acf-innerblocks-container {
      max-width: 100%;
      display: grid;
      grid-template-columns: 100%;
      gap: 1.25rem;
    }
  }

  &.scroll {
    ul {
      overflow: scroll;
      padding-bottom: 2rem;
      .acf-innerblocks-container {
        gap: 1.125rem;
        grid-template-columns: repeat(4, calc(50% - 0.625rem));
      }
    }
  }

  &.column-2 {
    ul {
      .acf-innerblocks-container {
        gap: 1.125rem;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .grid-link-mobile {
    display: block;
    margin: 1.625rem auto;
    color: $color__mcalpine-grey;
    width: fit-content;
    &:hover {
      color: $color__mcalpine-red;
    }
  }
}

@supports (container-type: inline-size) {
  @container block-grid-container (min-width: 700px) {
    .grid-block {
      ul {
        .acf-innerblocks-container {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  @container block-grid-container (min-width: 1050px) {
    .grid-block {
      .grid-title-container {
        .grid-link {
          display: block;
        }
      }

      ul {
        .acf-innerblocks-container {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      &.scroll {
        ul {
          .acf-innerblocks-container {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }

      &.column-2 {
        ul {
          .acf-innerblocks-container {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }

      .grid-link-mobile {
        display: none;
      }
    }
  }

  @container block-grid-container (min-width: 1400px) {
    .grid-block {
      ul {
        .acf-innerblocks-container {
          grid-template-columns: repeat(4, 1fr);
        }

        &.columns-3 {
          .acf-innerblocks-container {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1400px;
            margin: 0 auto;
          }
        }
      }

      &.scroll {
        ul {
          .acf-innerblocks-container {
            grid-template-columns: repeat(4, 1fr);
          }

          &.columns-3 {
            .acf-innerblocks-container {
              grid-template-columns: 1fr 1fr 1fr;
              max-width: 1400px;
              margin: 0 auto;
            }
          }
        }
      }

      &.column-2 {
        ul {
          .acf-innerblocks-container {
            grid-template-columns: repeat(4, 1fr);
          }

          &.columns-3 {
            .acf-innerblocks-container {
              grid-template-columns: 1fr 1fr 1fr;
              max-width: 1400px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
