@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-hero {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes underline {
  from {
    background-size: 0% 0.075em;
  }
  to {
    background-size: 100% 0.075em;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}
@keyframes image-fade-in {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.075);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grid-block {
  overflow: hidden;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.1875rem 1.25rem;
  container-type: inline-size;
  container-name: block-grid-container;
}
@media only screen and (min-width: 48rem) {
  .grid-block {
    padding: 3.75rem 2.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .grid-block {
    padding: 5rem 3.75rem;
  }
}
@media only screen and (min-width: 120rem) {
  .grid-block {
    padding-top: 5rem;
  }
}
.grid-block .grid-title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2.5rem;
}
.grid-block .grid-title-container .grid-link {
  display: none;
  color: #878787;
}
.grid-block .grid-title-container .grid-link:hover {
  color: #e63128;
}
.grid-block .grid-title-container .grid-title {
  width: auto;
}
.grid-block .grid-title-container .grid-title.red {
  color: #e63128;
}
.grid-block .grid-title-container .grid-title.white {
  color: #ffffff;
}
.grid-block .grid-title-container .grid-title.black {
  color: #222222;
}
.grid-block .grid-title-container .grid-title.center {
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.grid-block .grid-title-container .grid-title.columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid-block ul .acf-innerblocks-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 1.25rem;
}
.grid-block.scroll ul {
  overflow: scroll;
  padding-bottom: 2rem;
}
.grid-block.scroll ul .acf-innerblocks-container {
  gap: 1.125rem;
  grid-template-columns: repeat(4, calc(50% - 0.625rem));
}
.grid-block.column-2 ul .acf-innerblocks-container {
  gap: 1.125rem;
  grid-template-columns: 1fr 1fr;
}
.grid-block .grid-link-mobile {
  display: block;
  margin: 1.625rem auto;
  color: #878787;
  width: fit-content;
}
.grid-block .grid-link-mobile:hover {
  color: #e63128;
}

@supports (container-type: inline-size) {
  @container block-grid-container (min-width: 700px) {
    .grid-block ul .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  @container block-grid-container (min-width: 1050px) {
    .grid-block .grid-title-container .grid-link {
      display: block;
    }
    .grid-block ul .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-block.scroll ul .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-block.column-2 ul .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-block .grid-link-mobile {
      display: none;
    }
  }
  @container block-grid-container (min-width: 1400px) {
    .grid-block ul .acf-innerblocks-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .grid-block ul.columns-3 .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1400px;
      margin: 0 auto;
    }
    .grid-block.scroll ul .acf-innerblocks-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .grid-block.scroll ul.columns-3 .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1400px;
      margin: 0 auto;
    }
    .grid-block.column-2 ul .acf-innerblocks-container {
      grid-template-columns: repeat(4, 1fr);
    }
    .grid-block.column-2 ul.columns-3 .acf-innerblocks-container {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}

/*# sourceMappingURL=style.css.map */
